<ul id="gn-menu" class="gn-menu-main" style="z-index: 2">
  <li class="gn-trigger">
    <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
    <nav class="gn-menu-wrapper">
      <div class="gn-scroller">
        <ul class="gn-menu">
          <li>
            <a
              class="gn-icon gn-icon-download"
              href="<%= data.url %>/admin/add/event"
              >IARE Codechef Chapter</a
            >
            <!-- Add Events -->
          </li>
          <li>
            <a
              class="gn-icon gn-icon-download"
              href="<%= data.url %>/admin/add/skillup"
              >Skill Up 365</a
            >
            <!-- Add Skill Up Scores -->
          </li>
          <li>
            <a class="gn-icon gn-icon-download">Qualifier Test</a>
            <ul class="gn-submenu">
              <li>
                <a
                  class="gn-icon gn-icon-add"
                  href="<%= data.url %>/admin/add/qualifier_test"
                  >Add Qualifier Test</a
                >
              </li>
              <li>
                <a
                  class="gn-icon gn-icon-add"
                  href="<%= data.url %>/admin/add/mcq"
                  >Add MCQ's</a
                >
              </li>
              <li>
                <a
                  class="gn-icon gn-icon-update"
                  href="<%= data.url %>/admin/edit/mcq"
                  >Edit MCQ's</a
                >
              </li>
              <li>
                <a
                  class="gn-icon gn-icon-trashcan"
                  href="<%= data.url %>/admin/delete/mcq"
                  >Delete MCQ's</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a class="gn-icon gn-icon-download">Manage Contests</a>
            <ul class="gn-submenu">
              <li>
                <a
                  class="gn-icon gn-icon-add"
                  href="<%= data.url %>/admin/add/contest"
                  >Add Contests</a
                >
              </li>
              <li>
                <a
                  class="gn-icon gn-icon-update"
                  href="<%= data.url %>/admin/edit/contest"
                  >Edit Contests</a
                >
              </li>
              <li>
                <a
                  class="gn-icon gn-icon-trashcan"
                  href="<%= data.url %>/admin/delete/contest"
                  >Delete Contests</a
                >
              </li>
              <li>
                <a
                  class="gn-icon gn-icon-trashcan"
                  href="<%= data.url %>/extendUserTime"
                  >Extend User Time</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a class="gn-icon gn-icon-download">Multiset Contests</a>
            <ul class="gn-submenu">
              <li>
                <a
                  class="gn-icon gn-icon-add"
                  href="<%= data.url %>/admin/add/sets"
                  >Add Sets</a
                >
              </li>
              <li>
                <a
                  class="gn-icon gn-icon-add"
                  href="<%= data.url %>/admin/add/set"
                  >Add Question Ids</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a class="gn-icon gn-icon-download">Manage Questions</a>
            <ul class="gn-submenu">
              <li>
                <a
                  class="gn-icon gn-icon-add"
                  href="<%= data.url %>/admin/add/question"
                  >Add Questions</a
                >
              </li>
              <!-- <li><a class="gn-icon gn-icon-update" href="<%= data.url %>/admin/update/question">Update Questions</a></li> -->
              <li>
                <a
                  class="gn-icon gn-icon-update"
                  href="<%= data.url %>/admin/edit/question"
                  >Edit Questions</a
                >
              </li>
              <li>
                <a
                  class="gn-icon gn-icon-trashcan"
                  href="<%= data.url %>/admin/delete/question"
                  >Delete Questions</a
                >
              </li>
              <li>
                <a
                  class="gn-icon gn-icon-trashcan"
                  href="<%= data.url %>/admin/deletequestions/multiple"
                  >Delete Multiple Questions</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a class="gn-icon gn-icon-download">Manage Tutorials</a>
            <ul class="gn-submenu">
              <li>
                <a
                  class="gn-icon gn-icon-add"
                  href="<%= data.url %>/admin/add/course"
                  >Add Course</a
                >
              </li>
              <li>
                <a
                  class="gn-icon gn-icon-add"
                  href="<%= data.url %>/admin/add/tutQuestion"
                  >Add New Question</a
                >
              </li>
              <li>
                <a class="gn-icon gn-icon-add" href="<%= data.url %>/admin/move"
                  >Move Question</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a class="gn-icon gn-icon-download">Manage Resumes</a>
            <ul class="gn-submenu">
              <li>
                <a
                  class="gn-icon gn-icon-add"
                  href="<%= data.url %>/admin/viewResumes"
                  >View Resumes</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a class="gn-icon gn-icon-download">Manage Emails</a>
            <ul class="gn-submenu">
              <li>
                <a
                  class="gn-icon gn-icon-add"
                  href="<%= data.url %>/admin/emailSessions"
                  >View Sessions</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a class="gn-icon gn-icon-download">Manage Practice</a>
            <ul class="gn-submenu">
              <li>
                <a
                  class="gn-icon gn-icon-add"
                  href="<%= data.url %>/admin/add/practiceQuestion"
                  >Add New Question</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a class="gn-icon gn-icon-download">Upload Files</a>
            <ul class="gn-submenu">
              <li>
                <a
                  class="gn-icon gn-icon-add"
                  href="<%= data.url %>/admin/add/pdf"
                  >Add Flipped Class PDF</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a  class="gn-icon gn-icon-download">Faculty Dashboard</a>
            <ul class="gn-submenu">
              <li>
                <a
                class="gn-icon gn-icon-add"
                href="<%= data.url %>/facultyAdd"
                >Add a Faculty</a
              >
              </li>
              <li>
                <a
                class="gn-icon gn-icon-add"
                href="<%= data.url %>/facultyDelete"
                >Delete a Faculty</a
              >
              </li>
              <li>
                <a
                class="gn-icon gn-icon-add"
                href="<%= data.url %>/facultyUpdate"
                >Update Faculty Info</a
              >
              </li>
              <li>
                <a
                class="gn-icon gn-icon-add"
                href="<%= data.url %>/facultyView"
                >View Faculty List</a
              >
              </li>
            </ul>
          </li>
          <li>
            <a
              class="gn-icon gn-icon-cog"
              href="<%= data.url %>/admin/manageusers"
              >Manage users</a
            >
          </li>
          <li>
            <a
              class="gn-icon gn-icon-cog"
              href="<%= data.url %>/admin/patdata"
              >Pat Students</a
            >
          </li>
          <li>
            <a
              class="gn-icon gn-icon-cog"
              href="<%= data.url %>/admin/unverifiedusers"
              >Unverified users</a
            >
          </li>
          <li>
            <a
              class="gn-icon gn-icon-cog"
              href="<%= data.url %>/admin/complaints"
              >Reported Questions</a
            >
          </li>
          <li>
            <a
              class="gn-icon gn-icon-cog"
              href="<%= data.url %>/admin/contentDevProgress"
              >Content Developer Report</a
            >
          </li>
          <li>
            <a class="gn-icon gn-icon-help" href="<%= data.url %>/admin/solved"
              >Solved Questions Report</a
            >
          </li>
          <li>
            <a class="gn-icon gn-icon-help" href="<%= data.url %>/admin/results"
              >Results</a
            >
          </li>
          <li>
            <a
              class="gn-icon gn-icon-help"
              href="<%= data.url %>/admin/qualResults"
              >Qualifier Results</a
            >
          </li>
          <li>
            <a
              class="gn-icon gn-icon-help"
              href="<%= data.url %>/admin/resultsTut"
              >Tutorial Results</a
            >
          </li>
        </ul>
      </div>
      <!-- /gn-scroller -->
    </nav>
  </li>
  <li><a href="<%= data.url %>">Home</a></li>
  <li>
    <a class="codrops-icon codrops-icon-prev" href="<%= data.url %>/logout"
      ><span>Logout</span></a
    >
  </li>
</ul>
