<!DOCTYPE html>
<html>
  <head>
    <title>Extend User Time</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../css/navadmin.css" />

    <link rel="icon" type="image/png" href="../../images/logo-backup2.png" />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="../plugins/bootstrap-5/css/bootstrap.min.css"
    />
    <!-- <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css" /> -->

    <!-- Main Stylesheet -->
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/datatables/dataTables.min.css" rel="stylesheet" />

    <style>
      /* Three columns side by side */
      .column {
        float: left;
        width: 25%;
        margin-bottom: 16px;
        padding: 0 8px;
      }

      /* Display the columns below each other instead of side by side on small screens */
      @media screen and (max-width: 650px) {
        .column {
          width: 100%;
          display: block;
        }
      }

      /* Add some shadows to create a card effect */
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
      }

      /* Some left and right padding inside the container */
      .container {
        padding: 0 96px;
      }

      /* Clear floats */
      .container::after,
      .row::after {
        content: "";
        clear: both;
        display: table;
      }

      .title {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 2px;
      }

      .dataTables_filter {
        float: right;
      }

      #leaderboard {
        text-align: center;
        vertical-align: top;
      }

      th,
      td {
        width: 120px !important;
        height: 20px;
      }

      .dropdown {
        margin-left: -2.5vw;
        width: inherit;
      }

      #submit {
        display: none;
      }

      .btn {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
      }
    </style>

    <style>
      html {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
      }

      body {
        background: #41228e;
        overflow-x: auto;
      }

      body {
        line-height: 1.2;
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 15px;
        color: #4c4c4c;
      }

      .page-title {
        padding-top: 0;
        padding-bottom: 100px;
      }

      th {
        display: table-cell;
        vertical-align: inherit;
        font-weight: bold;
        text-align: -internal-center;
      }

      td,
      th {
        line-height: 1.2;
        white-space: nowrap;
      }

      @media (min-width: 568px) {
        th,
        td {
          word-break: normal;
        }
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #000;
        font-family: "Playfair Display", serif;
        line-height: 1.2;
      }

      label {
        white-space: normal;
      }

      select {
        width: -webkit-fill-available;
      }

      input[type="search"] {
        display: block;
      }
    </style>
  </head>

  <body>
    <%- include('../views/partials/adminpanel') -%>
    <br /><br /><br /><br /><br />
    <section class="page-title bg-white position-relative" style="height: 8vh">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3>Extend User Time</h3>
          </div>
        </div>
      </div>
    </section>

    <section
      class="section py-5 bg-white"
      style="padding-top: 1rem; border-style: hidden"
    >
      <form
        class="align-items-center"
        action="<%= data.serverurl %>/changeValidTime"
        name="delusersform"
        id="delusersform"
        method="POST"
        style="width: 74%; margin-left: 13%"
      >
        <label for="Hours" style="font-size: 1.5rem">Enter username:</label>
        <br /><br /><br />
        <input
          style="width: 75%; margin-left: 2rem"
          type="text"
          id="hours"
          name="username"
          placeholder="Example : 19951a0566"
        />
        <br /><br /><br /><br />
        <label for="Hours" style="font-size: 1.5rem">Enter ContestId:</label>
        <br /><br /><br />
        <input
          style="width: 75%; margin-left: 2rem"
          type="text"
          id="hours"
          name="contestId"
          placeholder="Example : test123"
        />
        <br /><br /><br /><br />
        <label for="Hours" style="font-size: 1.5rem"
          >Enter time in Minutes:</label
        >
        <br /><br /><br />
        <input
          style="width: 75%; margin-left: 2rem"
          type="number"
          id="hours"
          name="time"
          placeholder="Example : 60"
        />
        <textarea
          type="hidden"
          name="token"
          id="token"
          value="<%= token %>"
          style="display: none"
        ></textarea>
        <button
          style="
            margin-top: 2rem;
            margin-left: 12rem;
            border: 1px solid rgb(237 235 235);
          "
          class="btn btn-light"
          action="submit"
        >
          Extend
        </button>
      </form>
    </section>
    <section class="page-title bg-white position-relative" style="height: 8vh">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3>Get User Participation Time</h3>
          </div>
        </div>
      </div>
    </section>

    <section
      class="section py-5 bg-white"
      style="padding-top: 1rem; border-style: hidden"
    >
    <div class="box">
      <div class="search-bar">
        <input
          class="sinput"
          type="text"
          placeholder="Enter Username"
          id="username"
          required
        />
        <input
          class="sinput"
          type="text"
          placeholder="Enter Contest Id"
          id="contestId"
          required
        />
        <input
          class="sinput"
          type="text"
          placeholder="If Mcq Contest enter 'YES' else enter 'NO'""
          id="mcq"
          required
        />
        <button class="sbutton" onclick="getSubmission()">
          Get Time
        </button>
      </div>
      <div id="time"></div>
    </section>
    <br />
    <br />
    <script src="/adminjs/classie.js"></script>
    <script src="/adminjs/gnmenu.js"></script>
    <script>
      new gnMenu(document.getElementById("gn-menu"));
      document.getElementById("token").value = "<%= token %>";
    </script>

    <!-- jQuery -->
    <script src="/plugins/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="/datatables/datatables.min.js"></script>

    <!-- Main Script -->
    <script src="/js/script.js"></script>

    <script>
      $(document).ready(function () {
        $("#leaderboard").DataTable();
      });
    </script>
    <script>
      function getSubmission() {
        let contestId = document.getElementById("contestId").value;
        let username = document.getElementById("username").value;
        let mcq = document.getElementById("mcq").value;
        $.ajax({
          url: "<%=data.serverurl%>/getPartTime/"+username+contestId+"/"+mcq,
          type: "GET",
          async: true,
          headers: {
            authorization: "<%= token %>",
          },
          success: function (data) {
            document.getElementById("time").innerText = "The User participation Time is "+data.data[0].validTill;
            console.log(data.data[0].validTill)
          },
        });
      }
    </script>
  </body>
</html>
