<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Admin menu</title>
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel = "icon" type = "image/png" href = "../../images/logo-backup2.png">
		<script src="/adminjs/modernizr.custom.js"></script>
		<link rel="stylesheet" href="../../css/navadmin.css">
	</head>
	<body>
		<div class="container">
			<% include ../views/partials/adminpanel %>
			<header>
				<h1>Manage Contests<span style="color: white">Update Contests</span></h1>	
			</header> 
			<div class="main-block">
                <form action="<%= data.serverurl %>/contests/<%= data.contestId %>" method = "POST">
					<h4>Contest ID</h4>
					<textarea name="contestId" rows = "5"><%= data.contestId %></textarea>
					<p class="comments">Contest Name</p>
					<textarea name="contestName" rows="5"><%= data.contestName %></textarea>
					<p class="comments">Contest Date</p>
					<input name="contestDate" type="date"><%= data.contestDate %></textarea>
					<p class="comments">Contest Duration</p>
					<textarea name="contestDuration" rows="5"><%= data.contestDuration %></textarea>
					<p class="comments">Contest Start Time</p>
					<textarea name="contestStartTime" rows="5"><%= data.contestStartTime %></textarea>
					<p class="comments">Contest End Time</p>
					<textarea name="contestEndTime" rows="5"><%= data.contestEndTime %></textarea>
					<p class="comments">Contest Users</p>
					<textarea name="sets" rows="5"><%= data.usernames %></textarea>
					<p class="comments">Contest Password</p>
					<textarea name="sets" rows="5"><%= data.contestPassword %></textarea>
					<textarea type="hidden" name="token" id="token" value="<%= token %>" style="display: none;"><%= token %></textarea>
					<div class="btn-block">
						<button  class= "submit" type="submit" href="/">Send</button>
					</div>
                </form>
            </div>
		</div><!-- /container -->
		<script src="/adminjs/classie.js"></script>
		<script src="/adminjs/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>