<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contest Password</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      .top-nav {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 30;
        height: 80px;
        background: rgb(239, 240, 241);
        font-family: poppins;
      }
      .top-nav h1 {
        margin: 0;
      }
      .top-nav .top-name {
        font-family: poppins;
        font-size: x-large;
        font-weight: 500;
        margin: 0 20px;
        color: black;
      }
      .top-nav .image {
        display: flex;
        align-items: center;
        margin: 0 0px;
        padding: 5px 15px;
        border-radius: 10mm;
        font-weight: 500;
      }
      .top-nav img {
        width: 70px;
        height: 70px;
        border-radius: 2mm;
        margin: 0 10px;
        border: 0.4mm solid rgba(0, 0, 0, 0.237);
      }
      .top-nav .time {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .top-nav .counterTime {
        width: 105px;
        text-align: left;
        letter-spacing: 1px;
      }
      .form-sec {
        margin-top: 100px;
        width: 100%;
        height: fit-content;
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      form {
        width: 300px;
        padding: 30px;
        height: 220px;
        border: 0.4mm solid rgb(54, 54, 54);
        border-radius: 3mm;
        font-family: poppins;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
      }
      form span {
        display: block;
      }
      form span input {
        width: 290px;
        height: 30px;
        font-size: medium;
        outline: none;
        border: 0.6mm solid rgb(89, 89, 89);
        border-radius: 2mm;
        padding: 2px 10px;
        margin-top: 25px;
        color: rgb(54, 54, 54);
        font-family: poppins;
      }
      form button {
        width: 315px;
        height: 35px;
        background: rgb(246, 189, 65);
        color: rgb(54, 54, 54);
        outline: none;
        border: 0.5mm solid black;
        border-radius: 2mm;
        font-size: large;
        font-weight: 500;
        font-family: poppins;
        margin-top: 15px;
        cursor: pointer;
      }
      .icon{
        font-size: xx-large;
        margin-top: 0;
      }
    </style>
  </head>
  <body>
    <section class="top-nav">
      <div class="top-name">BuildIT | IARE</div>
      <div class="time">
        <div class="timer" style="font-size: x-large; font-weight: 500">
          <%= contestId.toUpperCase()%>
        </div>
      </div>
      <div class="image"><%=imgUsername%></div>
    </section>
    <section class="form-sec">
      <form action="/checkContestPassword" method="post">
        <span class="material-icons-outlined icon">
          lock
          </span>
        <span class="inputf">
          <input
            type="text"
            name="username"
            id=""
            placeholder="Roll Number"
            value="<%=imgUsername%>"
            required
          />
        </span>
        <span class="inputf">
          <input type="password" name="password" id="" placeholder="Password" required/>
        </span>
        <input type="hidden" name="contestId" value="<%=contestId%>">
        <textarea
            type="hidden"
            name="token"
            id="token"
            value="<%= token %>"
            style="display: none"
          ></textarea>
        <button type="submit">Submit</button>
      </form>
    </section>
    <script>
      document.getElementById("token").value = "<%= token %>";
    </script>
  </body>
</html>
