<!DOCTYPE html>
<html>
  <head>
    <title>Admin Results</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" href="../../css/navadmin.css">
		<script src="/adminjs/modernizr.custom.js"></script>
  </head>
  <body>
      <div class="container">
          <ul id="gn-menu" class="gn-menu-main">
            <li class="gn-trigger">
              <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
              <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                  <ul class="gn-menu">
                    
                    <li>
                      <a class="gn-icon gn-icon-download" >Manage Contests</a>
                      <ul class="gn-submenu">
                        <li><a class="gn-icon gn-icon-add" href="<%= data.url %>/admin/add/contest">Add Contests</a></li>
                        <li><a class="gn-icon gn-icon-update" href="<%= data.url %>/admin/update/contest">Update Contests</a></li>
                        <li><a class="gn-icon gn-icon-trashcan" href="<%= data.url %>/admin/update/contest">Delete Contests</a></li>
                      </ul>
                    </li>
                    <li>
                      <a class="gn-icon gn-icon-download" >Manage Questions</a>
                      <ul class="gn-submenu">
                        <li><a class="gn-icon gn-icon-add" href="<%= data.url %>/admin/add/question">Add Questions</a></li>
                        <li><a class="gn-icon gn-icon-update" href="<%= data.url %>/admin/update/question">Update Questions</a></li>
                        <li><a class="gn-icon gn-icon-trashcan" href="<%= data.url %>/admin/update/question">Delete Questions</a></li>
                      </ul>
                    </li>
                    <li><a class="gn-icon gn-icon-cog" href="<%= data.url %>/admin/manageusers" >Manage users</a></li>
                    <li><a class="gn-icon gn-icon-help" href="<%= data.url %>/admin/results">Results</a></li>
                    
                  </ul>
                </div><!-- /gn-scroller -->
              </nav>
            </li>
            <li><a href="<%= data.url %>/admin/results">Refresh</a></li>
            <li><a class="codrops-icon codrops-icon-prev" href="<%= data.url %>/logout"><span>Logout</span></a></li>
            
          </ul>
          <header>
            <h1>Results<span style="color: white">of Contests</span></h1>	
		  </header> 


<div class = "b">
		<h3 style="color:white">Select Contests</h3>
  <form action="<%= data.posturl %>" method = "<%= data.method %>">
    <select id="contestId" name="contestId">
	<% for (let i = 0; i < data.length; i++){ %>
	  <option value="<%= data[i].contestId %>"><%= data[i].contestName %></option>
	  <% } %>
    </select>
  
    <input type="submit" value="Submit">
  </form>
</div>
		<script src="/adminjs/classie.js"></script>
		<script src="/adminjs/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
  </body>
</html>