<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../images/iare-chapter/iare-logo.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0"
    />
    <script src="plugins/jQuery/jquery.min.js"></script>
  </head>
  <style>
    html {
      scroll-behavior: smooth;
    }
    ::-webkit-scrollbar {
      width: 0.65vw;
    }
    ::-webkit-scrollbar-track {
      border-radius: 10px;
      background: transparent;
    }
    ::-webkit-scrollbar-thumb {
      background: rgb(155, 155, 155);
      border-radius: 0.5vw;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: rgb(110, 110, 110);
    }
    body {
      background: black;
      padding: 0;
      margin: 0;
      font-family: poppins;
    }
    .nav {
      width: 100%;
      height: fit-content;
      padding: 10px 0;
      border-radius: 2mm;
      background: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0.5mm 0;
    }
    .nav-left {
      font-size: larger;
      font-weight: 600;
      margin: 0 20px;
    }
    .nav-center {
      font-size: x-large;
      letter-spacing: 2px;
    }
    .nav-right {
      margin: 0 25px;
    }
    .nav-right a {
      text-decoration: none;
      font-size: medium;
      color: black;
      font-weight: 500;
      margin: 0 5px;
    }
    .nav-right a:hover {
      text-decoration: underline;
    }
    .main {
      display: grid;
      grid-template-columns: 280px auto;
    }
    .profile {
      width: 275px;
      margin: 0.5mm;
      border-radius: 2mm;
      height: 99vh;
      position: relative;
    }
    .p-top {
      width: 85%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .p-title {
      font-size: large;
      font-weight: 600;
      display: flex;
      align-items: center;
    }
    .p-title span {
      margin-right: 2px;
    }
    .p-edit {
      color: black;
      font-size: small;
      font-weight: 500;
      display: flex;
      align-items: center;
      border: black 0.4mm solid;
      padding: 2px 5px;
      border-radius: 1mm;
      box-shadow: 1px 1px 0 black;
      transition: 0.25s;
      outline: none;
      background: white;
      cursor: pointer;
    }
    .p-edit span {
      margin-left: 2px;
      font-size: medium;
    }
    .p-edit:hover {
      box-shadow: 2px 2px 0 black;
    }
    .p-image {
      width: 85%;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .p-image img {
      width: 100px;
      height: 120px;
      border: 0.5mm solid rgb(3, 3, 3);
      border-radius: 3mm;
    }
    .p-username {
      width: 100%;
      text-align: center;
      margin: 15px 0;
    }
    .big {
      font-size: large;
      font-weight: 500;
    }
    .small {
      font-size: small;
      display: block;
      font-weight: 500;
      color: rgb(118, 118, 118);
    }
    .p-email-phone {
      width: 85%;
      margin: auto;
      margin-top: 45px;
      margin-bottom: 15px;
    }
    .p-back-black,
    .p-back-white {
      display: block;
      width: 100%;
      padding: 5px 0;
      border-radius: 2mm;
      background: rgb(216, 184, 255);
      border: 0.4mm solid black;
      box-shadow: 2px 2px 0 black;
      text-align: center;
      margin: 12px 0;
    }
    .p-back-white {
      background: white;
    }
    .p-ac-state {
      width: 85%;
      margin: auto;
      margin-top: 55px;
    }
    .p-state-title {
      font-size: large;
      font-weight: 500;
      margin-bottom: 15px;
    }
    .p-state-logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      flex-direction: column;
    }
    .p-state-logo span {
      font-size: 75px;
    }
    .d-item-title {
      font-size: large;
      display: flex;
      align-items: center;
      margin: 15px 15px;
      font-weight: 500;
    }
    .d-item-title span {
      font-size: larger;
      margin-right: 2px;
    }
    .d-item1 {
      grid-area: item1;
      background: rgb(230, 244, 227);
      min-height: 200px;
      box-shadow: inset -0.5mm -0.5mm 0 black;
      border-radius: 3mm;
      position: relative;
    }
    .d-item2 {
      grid-area: item2;
      background:rgb(253, 253, 253) ;
      min-height: 200px;
      box-shadow: inset -0.5mm -0.5mm 0 black;
      border-radius: 4mm;
      
    }
    .d-item3 {
      grid-area: item3;
      background: rgb(249, 255, 187);
      min-height: 200px;
      box-shadow: inset -0.5mm -0.5mm 0 black;
      border-radius: 3mm;
      position: relative;
    }
    .d-item4 {
      grid-area: item4;
      background: rgb(254,231,216);
      min-height: 200px;
      box-shadow: inset -0.5mm -0.5mm 0 black;
      border-radius: 3mm;
      position: relative;
    }
    .d-item5 {
      grid-area: item5;
      background: rgb(235, 218, 255);
      min-height: 200px;
      box-shadow: inset -0.5mm -0.5mm 0 black;
      border-radius: 3mm;
      position: relative;
    }
    .d-item6 {
      grid-area: item6;
      min-height: 200px;
      background: rgb(244, 244, 244);
      box-shadow: inset -0.5mm -0.5mm 0 black;
      border-radius: 3mm;
      position: relative;
    }
    .d-row {
      display: grid;
      grid-template-areas: "item1 item2 item2" "item3 item4 item5" "item6 item6 item6";
    }
    .dashboard {
      height: 100vh;
      overflow-y: auto;
    }
    .d-item-main{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 40px;
    }
    .d1-val{
      color: white;
      font-size: 50px;
      font-weight: 500;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      text-align: center;
      line-height: 80px;
      background: rgb(17, 121, 45);
    }
    .d1-courses{
      display: grid;
      grid-template-columns: auto auto;
    }
    .d1-courses span{
      background: white;
      width: 70px;
      border: rgb(22, 143, 54) solid 0.2mm;
      box-shadow: 2px 2px 0 rgb(17, 121, 45);
      margin: 5px;
      text-align: center;
      padding: 2px;
      border-radius: 1mm;
      font-size: small;
      animation: flip ease-in 0.5s;
      transform-style: preserve-3d;
    }
    .d-item2-main{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .graph-box{
      height: 150px;
      width: 365px;
      border-bottom: 0.6mm solid rgb(212, 212, 212);
      border-left: 0.3mm solid rgb(228, 228, 228);
      margin-bottom: 25px;
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      flex-direction: column;
      position: relative;
    }
    .percetage{
      height: 7px;
      background: orange;
      border-radius: 2mm;
      position: relative;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      box-shadow: 1px 1px 0 black;
    }
    .percetage span{
      display: block;
      position: absolute;
      top: -7px;
      left: -60px;
      font-size: small;
      font-weight: 600;
    }
    .mark{
      position: absolute;
      bottom: -15px;
      font-size: 10px;
      font-weight: 500;
    }
    .d-per-val{
      position: absolute;
      right: -26px;
      top: -9px;
      font-size: 10px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border: 0.4mm solid orange;
      border-radius: 50%;
      text-align: center;
    }
    @keyframes flip{
      0%{
        transform: rotateY(90deg)
      }
      100%{
        transform: rotateY(0deg);
      }
    }
    .d-item3-main,.d-item4-main,.d-item5-main{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-weight: 500;
    }
    .item3-val{
      font-size: 40px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: rgb(99, 85, 2);
      color: white;
      text-align: center;
      line-height: 80px;
      margin-bottom: 5px;
      animation: flip 0.5s ease-in;
    }
    .d-item4-main span{
      font-size: 80px;
      animation: flip 0.5s ease-in;
    }
    .d-item5-main{
      font-size: xx-large;
      margin-top: 40px;
    }
    .d-item6-main{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 15px;
    }
    .d-item6-main table{
      width: 95%;
      border-collapse: collapse;
      border-spacing: 0;
    }
    th{
      text-align: left;
      padding-left: 10px;
      font-size: small;
      color: rgb(165, 165, 165);
    }
    table tr{
      border-bottom: 0.5mm dashed rgba(0, 0, 0, 0.068);
      padding: 5px 0;
    }
    td {
      padding-top:10px;
      padding-bottom:10px;
      padding-right:10px; 
      padding-left: 10px;  
    }
    .t-black{
      width: fit-content;
      background: rgb(51, 51, 51);
      color: white;
      padding: 2px 5px;
      border-radius: 1mm;
      box-shadow: 2px 2px 0 white, 3px 3px 0 rgb(51, 51, 51);
    }
    .bottom-link{
      position: absolute;
      margin: auto;
      bottom: 10px;
      font-size: small;
      font-weight: 500;
    }
    #b1{
      color: rgb(22, 143, 54);
    }
    #b2{
      color: rgb(99, 85, 2);
    }
    #b3{
      color: rgb(51, 51, 51);
    }
    .card{
      position: absolute;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: all 0.5s ease-in;
      background: white;
      border-radius: 2mm;
    }
    .card-front{
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transform: translateZ(70px);
    }
    .card-back{
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transform: rotateY(180deg);
      transform-style: preserve-3d;
    }
    form{
      width: 100%;
      margin-top: 50px;
      transform: translateZ(70px);
    }
    .form-title{
      font-size: medium;
      font-weight: 500;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .form-title span{
      font-size: large;
    }
    .inputf{
      display: block;
      margin: 30px 0;
      width: 100%;
      position: relative;
    }
    .inputf input{
      width: 75%;
      padding: 12px 10px;
      outline: none;
      border: 0.6mm solid black;
      margin: auto;
      display: block;
      font-family: poppins;
      font-weight: 600;
      position: relative;
      transition: 0.25s;
    }
    .inputf input:focus{
      box-shadow: 5px 5px 0 black;
      padding-top: 16px;
      padding-bottom: 8px;
    }
    .label{
      width: 80%;
      position: absolute;
      margin: auto;
      top: 20px;
      left: 12%;
      font-size: 8px;
      font-weight: bold;
      display: block;
      transition: 0.25s;
      opacity: 0;
      z-index: -1;
    }
    .inputf input:focus + .label{
      opacity: 1;
      top: 5px;
      z-index: 1;
    }
    .sub-btn{
      position: absolute;
      background: rgb(170,249,0);
      padding: 0px 10px;
      width: fit-content;
      border: 0.6mm solid black;
      cursor: pointer;
      font-family: poppins;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
    }
    .sub-btn2{
      background: rgb(216, 184, 255);
      padding: 5px 10px;
      width: fit-content;
      border: 0.6mm solid black;
      cursor: pointer;
      width: 84%;
      display: block;
      margin: auto;
      transition: 0.25s;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: poppins;
      font-size: larger;
      font-weight: 500;
    }
    .sub-btn2 span{
      font-size: 30px;
      color: black;
    }
    .sub-btn:hover span{
      transform: scale(1.05);
    }
    .sub-btn2:hover{
      box-shadow: 5px 5px 0 black;
    }
    .sub-btn span{
      font-size: 30px;
      color: black;
    }
    #demo{
      width: 85%;
      margin: auto;
      font-size: small;
      height: 12px;
      margin-bottom: 20px;
      margin-top: 3px;
    }
    .sec-alert{
      position: absolute;
      top: 0;
      left: 5%;
      width: 90%;
      margin: auto;
      padding: 5px 0px;
      background: black;
      color: rgb(170,249,0);
      display: flex;
      align-items:center;
      justify-content: space-between;
      flex-direction: column;
      font-size: small;
      transform: rotateY(90deg);
      transition: 0.35s ease-in-out;
      transform-origin: top;
      transform-style: preserve-3d;
    }
    .sec-alert span{
      font-weight: bold;
    }
    form{
      position: relative;
    }
    .alert-box{
      position: absolute;
      bottom: -50px;
      width: 80%;
      left: 4.5%;
      height: fit-content;
      padding: 10px 15px;
      background: black;
      color: rgb(170,249,0);
      font-size: medium;
      font-family: poppins;
      font-weight: 500;
      box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.18),-2px 0px 4px rgba(0, 0, 0, 0.18);
      transform: rotateY(90deg);
      transition:transform 0.35s ease-in-out;
      transform-origin: top;
      transform-style: preserve-3d;
      display: flex;
      align-items: center;
    }
    .alert-box span{
      font-size: large;
      margin-right: 5px;
    }
  </style>
  <body>
    <section class="main">
      <section class="profile">
        <div class="card" id="card">
          <div class="card-front">
        <div class="p-top">
          <div class="p-title">
            <span class="material-icons-outlined"> person </span> Profile
          </div>
          <button type="button" class="p-edit" id="edit-pro"> Edit <span class="material-icons-outlined"> edit </span></button>
        </div>
        <div class="p-image">
          <img src="<%=data.imgUrl%>" alt="" />
        </div>
        <div class="p-username">
          <% if(data.name){ %>
          <span class="big"><%= data.name.toUpperCase() %></span>
          <%}%>
          <span class="small">@<%= imgUsername %></span>
        </div>
        <div class="p-email-phone">
          <span class="p-back-black"><%= data.branch.toUpperCase() %></span>
          <span class="p-back-white"><%= data.email %></span>
          <% if(data.phone){ %>
          <span class="p-back-white"><%= data.phone %></span>
          <%}%>
        </div>
        <div class="p-ac-state">
          <div class="p-state-title">Account Status</div>
          <div class="p-state-logo">
            <span class="material-symbols-outlined"> verified </span>
            Verified
          </div>
        </div>
        </div>
        <div class="card-back">
          <div class="p-top">
          <div class="p-title">
            <span class="material-icons-outlined"> edit </span> Edit Profile
          </div>
          <button type="button" class="p-edit"> Close <span class="material-icons-outlined"> close </span></button>
        </div>
        <form action="" method="post">
            <div class="form-title"><span class="material-icons-outlined">phone</span>Update Contact Number</div>
            <span class="inputf">
              <input type="tel" name="phone" id="phone" pattern="[0-9]{10}" placeholder="Phone Number" required maxlength="10" value="<% if(data.phone){ %> <%= data.phone %> <%}%>">
              <span class="label">Phone Number</span> 
                <textarea
                  type="hidden"
                  name="token"
                  id="token"
                  value="<%= token %>"
                  style="display: none"
            ></textarea>
              <button type="button" class="sub-btn" id="sub1"><span class="material-icons-round" >east</span></button>
            </span>
          </form>
          <form action="" method="post">
            <div class="alert-box" id="alert">Passwords did not match</div>
            <div class="form-title"><span class="material-icons-outlined">lock</span>Update Password</div>
            <span class="inputf">
              <input type="text" name="password" id="pass" placeholder="Password" required minlength="7">
              <span class="label">Password</span> 
            </span>
            <span class="inputf">
              <input type="text" name="conformPassword" id="cpass" placeholder="Conform Password" required minlength="7">
              <span class="label">Conform Password</span> 
            </span>
            <span class="inputf" style="margin-bottom: 0;">
              <input type="text" name="secret" id="secret" placeholder="Secret" required minlength="32" maxlength="32">
              <span class="label">Secret</span> 
              <button type="button" class="sub-btn" id="sub3">Generate</button>
              <div class="sec-alert" id="sec-alert">Secret sent to <span><%=data.email%></span></div>
            </span>
            <div id="demo"></div>

            <script>
              window.onload=function(){
              var phone = document.getElementById("phone")
              var top = phone.getBoundingClientRect().top
              var right = phone.getBoundingClientRect().right
              var height = phone.getBoundingClientRect().height
              var sub1 = document.getElementById("sub1")
              var width = sub1.getBoundingClientRect().width
              var height2 =  sub1.getBoundingClientRect().height
              sub1.style.left=right-width-2+"px"
              sub1.style.height=height+"px"
              sub1.style.top=0


              var secret = document.getElementById("secret")
              var top2 = secret.getBoundingClientRect().top
              var right2 = secret.getBoundingClientRect().right
              var height2 = secret.getBoundingClientRect().height
              var sub3 = document.getElementById("sub3")
              var width2 = sub3.getBoundingClientRect().width
              var height4 =  sub3.getBoundingClientRect().height
              sub3.style.left=right2-width2-2+"px"
              sub3.style.height=height2+"px"
              sub3.style.top=0
              }
            </script>

            <textarea
            type="hidden"
            name="token"
            id="token"
            value="<%= token %>"
            style="display: none"
          ></textarea>
            <button type="submit" class="sub-btn2" id="sub2" onclick="updatePassword()">Submit <span class="material-icons-round" >east</span></button>
          </form>
        </div>
        </div>
        <script>
          var edit = document.querySelectorAll(".p-edit")
          console.log(edit.length)
          var flipFlag=1
          edit.forEach((button)=>{
            button.addEventListener("click",()=>{
              document.getElementById("card").style.transform="rotateY("+180*(flipFlag%2)+"deg)"
              flipFlag+=1
            })
          })

          var sub3 = document.getElementById("sub3")
          sub3.onclick=function(){
            document.getElementById("sec-alert").style.transform="rotateY(0deg)"
            setTimeout(()=>{
              document.getElementById("sec-alert").style.transform="rotateY(90deg)"
            },5000)
            

            var distance=30;
            sub3.disabled=true
            setTimeout(()=>{
              sub3.disabled=false
            },32000)

            var x = setInterval(function() {
            document.getElementById("demo").innerHTML = "Resend Secret in " +distance+"s";
            distance-=1
            if (distance < 0) {
              clearInterval(x);
              document.getElementById("demo").innerHTML = "";
            }
          }, 1000);

            try{
              var url = "<%= serverUrl%>/generateSecret"
              $.ajax({
                // data: { arr: body1 },
                async: false,
                // enctype: 'multipart/form-data',
                url: url,
                headers: { "Authorization": "<%=token%>" },
                type: "GET",
                cache: false,
                contentType: "application/json",
                processData: false,
                dataType: 'json',
                success: function (response) {
                  console.log(1)
                },
                error: function (error) {
                  console.log(`Error ${JSON.stringify(error)}`);
                }
              })
              }
            catch (err) {
              console.log(err);
            }
          }



          var sub2 = document.getElementById("sub2");

          document.getElementById("sub2").addEventListener("click", function(event){
            event.preventDefault()
          });
          function updatePassword(){

            var alert = document.getElementById("alert")
            

            let pass = document.getElementById("pass").value
            let cpass  = document.getElementById("cpass").value
            let secret = document.getElementById("secret").value
            if (pass===cpass && secret && pass.length>=8){
            try{
              var url = "<%= serverUrl%>/updatePassword"
              $.ajax({
                // data: { arr: body1 },
                async: false,
                // enctype: 'multipart/form-data',
                url: url,
                headers: { "Authorization": "<%=token%>" },
                type: "POST",
                data: JSON.stringify({password:pass, cpassword:cpass, secret:secret, username:"<%=imgUsername%>"}),
                cache: false,
                contentType: "application/json",
                processData: false,
                dataType: 'json',
                success: function (response) {
                  alert.innerHTML='<span class="material-icons-outlined">check_circle</span>'+response.message
                  alert.style.transform="rotateY(0deg)"
                  alert.style.background="rgb(170,249,0)"
                  alert.style.color="black"
                  setTimeout(()=>{
                    alert.style.transform="rotateY(90deg)"
                    alert.style.background="black"
                    alert.style.color="rgb(170,249,0)"
                  },5000)
                },
                error: function (error) {
                  console.log(`Error ${JSON.stringify(error)}`);
                  alert.innerHTML="Some error occurred"
                  alert.style.transform="rotateY(0deg)"
                  setTimeout(()=>{
                    alert.style.transform="rotateY(90deg)"
                  },5000)
                }
              })
              }
            catch (err) {
              console.log(err);
              alert.innerHTML="Some error occurred"
              alert.style.transform="rotateY(0deg)"
              setTimeout(()=>{
                alert.style.transform="rotateY(90deg)"
              },5000)
            }
            }
            else{
              if (secret==""){
                alert.innerHTML="Secret is not entered"
              }
              else if(pass.length<8){
                alert.innerHTML="Password is too short"
              }
              else if (secret.length!=32){
                alert.innerHTML="Entered wrong secret"
              }
              else{
                alert.innerHTML="Passwords did not match"
              }
              alert.style.transform="rotateY(0deg)"
              setTimeout(()=>{
                alert.style.transform="rotateY(90deg)"
              },5000)
            }
            return false
          }
        </script>
      </section>

<!---------------------------------------------------------------------------------------------------->

      <section class="dashboard">
        <section class="nav">
          <div class="nav-left">BuildIT | IARE</div>
          <div class="nav-center">Dashboard</div>
          <div class="nav-right">
            <a href="/">Home</a>
            <a href="/logout">Logout</a>
          </div>
        </section>
        <section class="d-row">
          <div class="d-item1">
            <div class="d-item-title">
              <span class="material-icons-outlined"> auto_stories </span>
              Courses
            </div>
            <div class="d-item-main">
              <div class="d1-val"><%= "0"+partCount.length%></div>
              <div class="d1-courses">
                <% for(var i=0;i<partCount.length;i++){ %>
                  <span><%= partCount[i] %></span>
                <%}%>
              </div>
              <a href="/tutorials" class="bottom-link" id="b1">Checkout all the courses</a>
            </div>
          </div>
          <div class="d-item2">
            <div class="d-item-title">
              <span class="material-icons-outlined"> analytics </span>
              Progress
            </div>
            <div class="d-item2-main">
              <div class="graph-box">
                <div class="percetage" id="easy">
                  <span>Level_0</span>
                  <div class="d-per-val" id="dval1"></div>
                </div>
                <div class="percetage" id="medium">
                  <span>Level_1</span>
                  <div class="d-per-val" id="dval2"></div>
                </div>
                <div class="percetage" id="hard">
                  <span>Level_2</span>
                  <div class="d-per-val" id="dval3"></div>
                </div>
                <div class="percetage" id="contest">
                  <span>Contest</span>
                  <div class="d-per-val" id="dval4"></div>
                </div>
                <div class="mark" id="mark0">0</div>
                <div class="mark" id="mark25">25</div>
                <div class="mark" id="mark50">50</div>
                <div class="mark" id="mark75">75</div>
                <div class="mark" id="mark100">100</div>
              </div>
              <script>
                var easy = document.getElementById("easy")
                var medium = document.getElementById("medium")
                var hard = document.getElementById("hard")
                var contest = document.getElementById("contest")
                var ep=0
                var mp=0
                var hp=0
                var cp=0
                "<% if(progress.easyPercentage){%>";
                ep="<%=progress.easyPercentage%>";
                "<%}%>"
                "<% if(progress.mediumPercentage){%>";
                mp="<%=progress.mediumPercentage%>";
                "<%}%>"
                "<% if(progress.hardPercentage){%>";
                hp="<%=progress.hardPercentage%>";
                "<%}%>"
                "<% if(progress.contestPercentage){%>";
                cp="<%=progress.contestPercentage%>";
                "<%}%>"
                easy.style.width=ep*3.5+2+"px"
                medium.style.width=mp*3.5+2+"px"
                hard.style.width=hp*3.5+2+"px"
                contest.style.width=cp*3.5+2+"px"
                document.getElementById("mark0").style.left=0+"px"
                document.getElementById("mark25").style.left=25*3.52+"px"
                document.getElementById("mark50").style.left=50*3.52+"px"
                document.getElementById("mark75").style.left=75*3.52+"px"
                document.getElementById("mark100").style.left=100*3.52+"px"
                document.getElementById("dval1").innerHTML=ep
                document.getElementById("dval2").innerHTML=mp
                document.getElementById("dval3").innerHTML=hp
                document.getElementById("dval4").innerHTML=cp

                function myMove(elem, dis) {
                  let id = null;  
                  let pos = 0;
                  clearInterval(id);
                  id = setInterval(frame, 1.5);
                  function frame() {
                    if (pos == dis) {
                      clearInterval(id);
                    } else {
                      pos++; 
                      elem.style.width = pos + "px";
                    }
                  }
                }
                myMove(easy,Math.round(ep*3.5+2))
                myMove(medium,Math.round(mp*3.5+2))
                myMove(hard,Math.round(hp*3.5+2))
                myMove(contest,Math.round(cp*3.5+2))
              </script>
            </div>
          </div>
          <div class="d-item3">
            <div class="d-item-title">
              <span class="material-icons-outlined"> outlined_flag </span>
              Total Contests
            </div>
            <div class="d-item3-main">
              <div class="item3-val"><%= contestCount %></div>
              Participated
              <a href="/contest" class="bottom-link" id="b2">Checkout other contests</a>
            </div>
          </div>
          <div class="d-item4">
            <div class="d-item-title">
              <span class="material-icons-outlined"> description </span>
              Resume
            </div>
            <div class="d-item4-main">
                <% if(resumeStatus){ %>
                  <span class="material-icons-outlined">check_circle</span>
                  Available
                <% } else{ %>
                  <span class="material-icons-outlined">highlight_off</span>
                  Not Available
                <%}%>
                <a href="/ResumeBuilder" class="bottom-link" id="b3">Update your resume</a>
            </div>
          </div>
          <div class="d-item5">
            <div class="d-item-title">
              <span class="material-icons-outlined"> wifi </span>
              IP Address
            </div>
            <div class="d-item5-main" id="item5-main">

            </div>
            <script>
                fetch("https://api.ipify.org/?format=json")
                .then(results=>results.json())
                .then(data=>{
                  console.log(data)
                  document.getElementById("item5-main").innerHTML=data.ip
                  })
            </script>
          </div>
          <div class="d-item6">
            <div class="d-item-title">
              <span class="material-icons-outlined"> insights </span>
              SkillUp Data
            </div>
            <div class="d-item6-main">
              <table>
                <tr>
                  <th>Platform</th>
                  <th>Username</th>
                  <th>Score</th>
                </tr>
                <tbody>
                <tr>
                  <td>Hackerrank</td>
                  <td>
                    <span class="t-black">
                    <% if(skillups.success && skillups.data.hackerRankId){ %>
                      <%= skillups.data.hackerRankId %>
                    <%} else{ %>
                      Not Available
                    <%}%>
                    </span>
                  </td>
                  <td>
                    <% if(skillups.success && skillups.data.hackerRankScore){ %>
                      <%= Math.round(skillups.data.hackerRankScore) %>
                    <%} else{ %>
                      Not Available
                    <%}%>
                  </td>
                </tr>
                <tr>
                  <td>CodeChef</td>
                  <td>
                    <span class="t-black">
                    <% if(skillups.success && skillups.data.codeChefId){ %>
                      <%= skillups.data.codeChefId %>
                    <%} else{ %>
                      Not Available
                    <%}%>
                    </span>
                  </td>
                  <td>
                    <% if(skillups.success && skillups.data.codeChefScore){ %>
                      <%= skillups.data.codeChefScore %>
                    <%} else{ %>
                      Not Available
                    <%}%>
                  </td>
                </tr>
                <tr>
                  <td>CodeForces</td>
                  <td>
                    <span class="t-black">
                    <% if(skillups.success && skillups.data.codeForcesId){ %>
                      <%= skillups.data.codeForcesId %>
                    <%} else{ %>
                      Not Available
                    <%}%>
                    </span>
                  </td>
                  <td>
                    <% if(skillups.success && skillups.data.codeForcesScore){ %>
                      <%= skillups.data.codeForcesScore %>
                    <%} else{ %>
                      Not Available
                    <%}%>
                  </td>
                </tr>
                <tr>
                  <td>GeeksForGeeks</td>
                  <td>
                    <span class="t-black">
                    <% if(skillups.success && skillups.data.geeksForGeeksId){ %>
                      <%= skillups.data.geeksForGeeksId %>
                    <%} else{ %>
                      Not Available
                    <%}%>
                    </span>
                  </td>
                  <td>
                    <% if(skillups.success && skillups.data.geeksForGeeksScore){ %>
                      <%= skillups.data.geeksForGeeksScore %>
                    <%} else{ %>
                      Not Available
                    <%}%>
                  </td>
                </tr>
                <tr>
                  <td>InterviewBit</td>
                  <td>
                    <span class="t-black">
                    <% if(skillups.success && skillups.data.interviewBitId){ %>
                      <%= skillups.data.interviewBitId %>
                    <%} else{ %>
                      Not Available
                    <%}%>
                    </span>
                  </td>
                  <td>
                    <% if(skillups.success && skillups.data.interviewBitScore){ %>
                      <%= skillups.data.interviewBitScore %>
                    <%} else{ %>
                      Not Available
                    <%}%>
                  </td>
                </tr>
                <tr>
                  <td>LeetCode</td>
                  <td>
                    <span class="t-black">
                    <% if(skillups.success && skillups.data.leetCodeId){ %>
                      <%= skillups.data.leetCodeId %>
                    <%} else{ %>
                      Not Available
                    <%}%>
                    </span>
                  </td>
                  <td>
                    <% if(skillups.success && skillups.data.leetCodeScore){ %>
                      <%= skillups.data.leetCodeScore %>
                    <%} else{ %>
                      Not Available
                    <%}%>
                  </td>
                </tr>
                <tr>
                  <td>Spoj</td>
                  <td>
                    <span class="t-black">
                    <% if(skillups.success && skillups.data.spojId){ %>
                      <%= skillups.data.spojId %>
                    <%} else{ %>
                      Not Available
                    <%}%>
                    </span>
                  </td>
                  <td>
                    <% if(skillups.success && skillups.data.spojScore){ %>
                      <%= skillups.data.spojScore %>
                    <%} else{ %>
                      Not Available
                    <%}%>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </section>
    </section>
  </body>
</html>
