<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>BuildIT</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel = "icon" type = "image/png" href = "../../images/logo-backup2.png">

</head>

<body>

<% include ../views/partials/header %>


<!-- hero area -->

<section class="hero-area bg-primary" id="parallax">
  
  <div class="container">
    <div class="row">

      <div class="col-lg-11 mx-auto"><br><br><br><br><br>
        <p class="text-white font-tertiary">Weekly Hits: <%=weeklyCount%></p>
        <p class="text-white font-tertiary" id="counter"></p>
        <h1 class="text-white font-tertiary">Welcome to<br>BuildIT<br>By Go-Labs</h1>
      </div>
    </div>
  </div>
  <!-- <div class="layer-bg w-100">
    <img class="img-fluid w-100" src="images/illustrations/leaf-bg.png" alt="bg-shape">
  </div> -->
 
  <!-- social icon -->
  <!-- <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
    <li class="mb-3"><a class="text-white" href="#"><i class="ti-facebook"></i></a></li>
    <li class="mb-3"><a class="text-white" href="#"><i class="ti-instagram"></i></a></li>
    <li class="mb-3"><a class="text-white" href="#"><i class="ti-dribbble"></i></a></li>
    <li class="mb-3"><a class="text-white" href="#"><i class="ti-twitter"></i></a></li>
  </ul> -->
  <!-- /social icon -->
</section>
<!-- /hero area -->

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">At IARE we believe education is an ocean and one should sink in to find  <br><b>Success</b>. <br><br>Institute of Aeronautical Engineering (IARE), Hyderabad was established in the year 2000 and is run by Maruthi Educational Society founded by a devoted group of eminent professional and industrialists having a long and outstanding experience in educational system with a mission ‘Education for Liberation’. It is the first institute to start B.Tech program in Aeronautical Engineering in the state of Telangana and has gradually transformed itself into an integrated multi-disciplinary technological institute.
          IARE is a prestigious Autonomous engineering college offering seven B.Tech programs (CSE, IT, ECE, EEE, Aeronautical, Mechanical and Civil Engineering) and six M.Tech programs in engineering and MBA with 18 years of rich standing in the educational sphere. </b></p>
        <a href="about" class="btn btn-transparent">know more</a>
        <p class="font-secondary paragraph-lg text-dark"><b>
            
      </div>
    </div>
  </div>
</section>
<!-- /about -->




<!-- footer -->
<!-- <footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light"> Institute of Aeronautical Engineering.</p>
  </div>
</footer> -->
<!-- /footer -->
<% include ../views/partials/footer %>

<!-- jQuery -->
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script>
  var prevDay = Number("<%= prevDay %>");
  var weeklyCount = Number("<%= weeklyCount %>");
</script>
<script>
  const countEl = document.getElementById("counter");
  counters();
  var today = new Date();
  var day = Number(today.getDay());
  if(day != prevDay){
    //set weekly count to 0 in sunday
    if(day == 0){
      //since it is sunday we will refresh the weekly counter
      fetch('<%= url.serverurl %>/updateCountersWeek', {
            method: 'POST',
            headers: {
                'Content-type': 'application/json; charset=UTF-8'
            }
        })
        .then(() => {
          console.log("Updated weekly counter to 0!");
        });
    }
    //otherwise update weekly counter after the day
    else{
      var current_count=0;
      //this api call resets the website hits
      fetch('https://api.countapi.xyz/set/buildit.iare.ac.in/b4a2a276-6a4a-4fbe-bb05-ae7e51e2793d?value=0')
      .then((res) => res.json())
      .then((res) => {
        current_count = res.old_value;
        console.log("Counter reset for the day!");
        //this call will add previous day view to week counter
        fetch('<%= url.serverurl %>/updateCountersDay/'+current_count, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json; charset=UTF-8'
            }
        })
        .then(() => {
          console.log("Updated weekly counter!");
        })
      });
    }
  }
  function counters() {
    //this api call increments website hits
    fetch('https://api.countapi.xyz/hit/buildit.iare.ac.in/b4a2a276-6a4a-4fbe-bb05-ae7e51e2793d')
    .then((res) => res.json())
    .then((res) => {
      countEl.innerText = "Daily Hits: "+ res.value;
    });
  }
</script>
<script src="js/script.js"></script>
</body>
</html>