<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>BuildIT</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel = "icon" type = "image/png" href = "../../images/logo-backup2.png">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    rel="stylesheet"
  />
  <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet">
  <link rel="stylesheet" href="../css/style2.css">
  <style>
    .counters{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 10px 0px;
    }
    .counter{
      font-family: poppins;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: x-large;
      background: rgb(243, 243, 243);
      color: rgb(0, 110, 219);
      padding: 25px;
      border-radius: 2mm;
      box-shadow: 15px 15px 0px rgba(33, 33, 33, 0.2);
      font-weight: bold;
      transition: 0.25s;
    }
    .counter:hover{
      box-shadow: 2px 2px 0px rgba(33, 33, 33, 0.2);
    }
    .counter span{
      font-size: medium;
      font-weight: 400;
      text-shadow:inset 1px 1px rgba(0, 18, 76, 0.2);
    }
    .hero-area{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      overflow: hidden;
    }
    .font-tertiary{
      font-size: 120px;
      color: white;
      mix-blend-mode: difference;
      z-index: 1;
    }
    .font-sub{
      color: white;
      mix-blend-mode: difference;
      z-index: 1;
    }
    .code-block{
      width: 100%;
      max-width: 600px;
      height: 85vh;
      max-height: 600px;
      position: absolute;
      right: 10px;
      top: 30%;
      background: rgb(30, 30, 30);
      border-radius: 12mm;
      padding: 30px;
      box-sizing: border-box;
    }
    .code-block::before{
      position: absolute;
      content: "format_align_right";
      font-family: "Material Icons";
      font-size: 250px;
      width: 100%;
      height: 100%;
      text-align: right;
      left: 10px;
      line-height: 300px;
      color: rgba(36, 145, 255, 0.1);
    }
    .dots{
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      border-bottom: 0.5mm solid rgb(79, 79, 79);
      padding-bottom: 15px;
      z-index: 0;
    }
    .dots span{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: white;
      margin: 5px;
    }
    .dots span:nth-child(1){
      background: #FF5757;
    }
    .dots span:nth-child(2){
      background: #FFDE59;
    }
    .dots span:nth-child(3){
      background: #7ED957;
    }
    .dot-text{
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0, -50%);
      font-family: poppins;
      font-size: 16px;
      color: white;
      background: none;
      width: fit-content;
      height: fit-content;
    }
    .bottom-border{
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
    }
    .border-line{
      flex-grow: 1;
      width: 100%;
      height: 2px;
      background: rgba(90, 90, 90, 0.5);
      border-radius: 1mm;
    }
    .bottom-border span{
      display: block;
      width: 45px;
      height: 45px;
      min-width: 45px;
      min-height: 45px;
      background: rgb(2, 111, 220);
      border-radius: 50%;
      line-height: 45px;
      text-align: center;
      color: white;
      font-size: 32px;
      margin: 0 5px;
    }
    .icon{
      font-size: 100px;
      color: rgb(52,168,83);
    }
    @media screen and (max-width: 450px) {
      .font-tertiary{
        font-size: 70px;
      }
    }
  </style>
</head>

<body>

<%- include ("../views/partials/header2") -%>


<!-- hero area -->

<section class="hero-area bg-primary" id="parallax">
  <div class="code-block">
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
      <div class="dot-text">BuildIT.txt</div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-lg-11 mx-auto text-center">
        <div class="font-sub">Welcome To</div>
        <h1 class="text-white font-tertiary">BuildIT</h1>
      </div>
    </div>
  </div>
  <div class="bottom-border">
    <div class="border-line"></div>
    <span class="material-icons-round">code</span>
    <div class="border-line"></div>
  </div>
</section>
<!-- /hero area -->

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto" style="text-align: center;">
        <span class="material-icons-round icon" >
          school
          </span>
      </div>
      <div class="col-lg-10 mx-auto">
        <p class="font-sub paragraph-lg text-dark" style="mix-blend-mode: normal; color: black;">At IARE we believe education is an ocean and one should sink in to find Success. </p>
        <p class="font-secondary paragraph-lg text-dark" style="text-align: justify;">
        <br>Institute of Aeronautical Engineering (IARE), Hyderabad was established in the year 2000 and is run by Maruthi Educational Society founded by a devoted group of eminent professional and industrialists having a long and outstanding experience in educational system with a mission ‘Education for Liberation’. It is the first institute to start B.Tech program in Aeronautical Engineering in the state of Telangana and has gradually transformed itself into an integrated multi-disciplinary technological institute.
          IARE is a prestigious Autonomous engineering college offering seven B.Tech programs (CSE, IT, ECE, EEE, Aeronautical, Mechanical and Civil Engineering) and six M.Tech programs in engineering and MBA with 18 years of rich standing in the educational sphere. </b></p>
        <a href="about" class="btn btn-transparent">know more</a>
        <p class="font-secondary paragraph-lg text-dark"><b>
            
      </div>
    </div>
    <div class="row">
      <div class="counters">
        <p class="counter" id="total"><span>Total Views</span> <%=totalCount%></p>
        <p class="counter" id="weekly"><span>Daily Views</span><%= dayCount%></p>
        <p class="counter" id="counter"><span>Weekly Views</span><%= weeklyCount%></p>
      </div>
    </div>
  </div>
</section>
<!-- /about -->




<!-- footer -->
<!-- <footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light"> Institute of Aeronautical Engineering.</p>
  </div>
</footer> -->
<!-- /footer -->

<%- include ("../views/partials/footer") -%>

<!-- jQuery -->
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<form method="POST" autocomplete="off" name="google-sheet" style="display: none;">
  <input type="text" name="date" id="date">
  <input type="text" name="month" id="month">
  <input type="text" name="time" id="time">
  <input type="text" name="username" id="username">
  <input type="text" id="ip" name="ip" style="display: none" />
</form>
<script>
  const googleSheetsApi = "<%= googleSheetsApi %>"
  var formdate=document.getElementById("date")
  var formmonth=document.getElementById("month")
  var formtime=document.getElementById("time")
  var formuser=document.getElementById("username")
  var dateObj = new Date();
  var month = dateObj.getMonth() + 1; //months from 1-12
  var day = dateObj.getDate();
  var year = dateObj.getFullYear();
  var time=dateObj.getHours()+":"+dateObj.getMinutes()+":"+dateObj.getSeconds()
  newdate = year + "/" + month + "/" + day;
  formdate.value=newdate
  formmonth.value=month+"/"+dateObj.getFullYear()
  formtime.value=time
  formuser.value="<%=imgUsername%>"
  const countEl = document.getElementById("counter");
  fetch("https://api.ipify.org/?format=json")
.then(results=>results.json())
.then(data=>{
  document.getElementById("ip").value=data.ip
  const scriptURL ="https://script.google.com/macros/s/"+googleSheetsApi;
  const form = document.forms["google-sheet"];
  fetch(scriptURL, { method: "POST", body: new FormData(form) })
    .then()
    .catch((error) => console.error("Error!", error.message));
})

</script>

<script src="js/script.js"></script>

</body>
</html>