<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>BuildIT</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel = "icon" type = "image/png" href = "../../images/logo-backup2.png">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    rel="stylesheet"
  />
  <style>
    .counters{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 10px 0px;
    }
    .counter{
      font-family: poppins;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: x-large;
      background: rgb(243, 243, 243);
      color: rgb(0, 110, 219);
      padding: 25px;
      border-radius: 2mm;
      box-shadow: 15px 15px 0px rgba(33, 33, 33, 0.2);
      font-weight: bold;
      transition: 0.25s;
    }
    .counter:hover{
      box-shadow: 2px 2px 0px rgba(33, 33, 33, 0.2);
    }
    .counter span{
      font-size: medium;
      font-weight: 400;
      text-shadow:inset 1px 1px rgba(0, 18, 76, 0.2);
    }
  </style>
</head>

<body>

<% include ../views/partials/header %>


<!-- hero area -->

<section class="hero-area bg-primary" id="parallax">
  
  <div class="container">
    <div class="row">

      <div class="col-lg-11 mx-auto"><br><br><br><br><br>
        <h1 class="text-white font-tertiary">Welcome to<br>BuildIT<br>By Go-Labs</h1>
      </div>
    </div>
  </div>
  <!-- <div class="layer-bg w-100">
    <img class="img-fluid w-100" src="images/illustrations/leaf-bg.png" alt="bg-shape">
  </div> -->
 
  <!-- social icon -->
  <!-- <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
    <li class="mb-3"><a class="text-white" href="#"><i class="ti-facebook"></i></a></li>
    <li class="mb-3"><a class="text-white" href="#"><i class="ti-instagram"></i></a></li>
    <li class="mb-3"><a class="text-white" href="#"><i class="ti-dribbble"></i></a></li>
    <li class="mb-3"><a class="text-white" href="#"><i class="ti-twitter"></i></a></li>
  </ul> -->
  <!-- /social icon -->
</section>
<!-- /hero area -->

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">At IARE we believe education is an ocean and one should sink in to find  <br><b>Success</b>. <br><br>Institute of Aeronautical Engineering (IARE), Hyderabad was established in the year 2000 and is run by Maruthi Educational Society founded by a devoted group of eminent professional and industrialists having a long and outstanding experience in educational system with a mission ‘Education for Liberation’. It is the first institute to start B.Tech program in Aeronautical Engineering in the state of Telangana and has gradually transformed itself into an integrated multi-disciplinary technological institute.
          IARE is a prestigious Autonomous engineering college offering seven B.Tech programs (CSE, IT, ECE, EEE, Aeronautical, Mechanical and Civil Engineering) and six M.Tech programs in engineering and MBA with 18 years of rich standing in the educational sphere. </b></p>
        <a href="about" class="btn btn-transparent">know more</a>
        <p class="font-secondary paragraph-lg text-dark"><b>
            
      </div>
    </div>
  </div>
</section>
<!-- /about -->




<!-- footer -->
<!-- <footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light"> Institute of Aeronautical Engineering.</p>
  </div>
</footer> -->
<!-- /footer -->
<div class="counters">
  <p class="counter" id="total"></p>
  <p class="counter" id="weekly"></p>
  <p class="counter" id="counter"></p>
</div>
<% include ../views/partials/footer %>

<!-- jQuery -->
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<form method="POST" autocomplete="off" name="google-sheet" style="display: none;">
  <input type="text" name="date" id="date">
  <input type="text" name="month" id="month">
  <input type="text" name="time" id="time">
  <input type="text" name="username" id="username">
</form>
<script>
  const countApiKey = "<%= countApiKey %>"
  const googleSheetsApi = "<%= googleSheetsApi %>"
  var formdate=document.getElementById("date")
  var formmonth=document.getElementById("month")
  var formtime=document.getElementById("time")
  var formuser=document.getElementById("username")
  var dateObj = new Date();
  var month = dateObj.getMonth() + 1; //months from 1-12
  var day = dateObj.getDate();
  var year = dateObj.getFullYear();
  var time=dateObj.getHours()+":"+dateObj.getMinutes()+":"+dateObj.getSeconds()
  newdate = year + "/" + month + "/" + day;
  formdate.value=newdate
  formmonth.value=month+"/"+dateObj.getFullYear()
  formtime.value=time
  formuser.value="<%=imgUsername%>"
  const countEl = document.getElementById("counter");
  function counters() {
    //this api call increments website hits
    fetch("https://api.countapi.xyz/get/" + countApiKey)
      .then((res) => res.json())
      .then((res) => {
        countEl.innerHTML = "<span>Daily Views</span>" + res.value;
        document.getElementById("weekly").innerHTML =
        "<span>Weekly Views</span>" + (Number('<%= weeklyCount %>') + res.value);
        document.getElementById("total").innerHTML =
        "<span>Total Views</span>" + (Number('<%= totalCount %>') + res.value);
      });
  }
  counters();
  const scriptURL ="https://script.google.com/macros/s/"+googleSheetsApi;
  const form = document.forms["google-sheet"];
  fetch(scriptURL, { method: "POST", body: new FormData(form) })
    .then()
    .catch((error) => console.error("Error!", error.message));
</script>
<script src="js/script.js"></script>

</body>
</html>