<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <title id="demo1">SkillUP365: Skill Enhancement Program</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css" />
    <!-- slick slider -->
    <link rel="stylesheet" href="/plugins/slick/slick.css" />
    <!-- themefy-icon -->
    <link rel="stylesheet" href="/plugins/themify-icons/themify-icons.css" />
    <link rel="icon" type="image/png" href="../../images/logo-backup2.png" />

    <!-- Main Stylesheet -->
    <link href="/datatables/dataTables.min.css" rel="stylesheet" />

    <!--Favicon-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <style>
      /* Three columns side by side */
      body {
        background: rgb(248, 248, 250);
        font-family: poppins;
        margin: 0;
        padding: 0;
      }
      .rows {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: auto;
        width: 97%;
        padding: 0;
      }
      .column {
        width: fit-content;
        margin-bottom: 16px;
        padding: 0 8px;
        min-width: 30%;
        width: 26%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      /* Display the columns below each other instead of side by side on small screens */
      @media screen and (max-width: 650px) {
        .column {
          width: 100%;
          display: block;
        }
      }

      /* Add some shadows to create a card effect */

      /* Some left and right padding inside the container */
      .containers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        justify-content: center;
        width: 100%;
      }

      .title {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 2px;
      }

      .dataTables_filter {
        float: right;
      }

      #leaderboard {
        text-align: center;
        vertical-align: top;
      }

      th,
      td {
        width: 120px !important;
      }

      .dropdown {
        margin-left: -2.5vw;
        width: inherit;
      }

      #submit {
        display: none;
      }

      .btn {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
      }
      .main-title {
        font-size: 90px;
        letter-spacing: 5px;
        font-weight: 500;
        margin: 80px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 210px;
      }
      .main-title span {
        font-size: x-large;
        letter-spacing: 7px;
      }
      .join a {
        text-decoration: none;
        background: black;
        padding: 9px 18px;
        border-radius: 8mm;
        color: white;
        font-size: 20px;
        display: flex;
        align-items: center;
      }
      #sub-title {
        font-family: poppins;
        font-size: x-large;
        margin: 50px;
      }
      .cardy {
        width: 80%;
        padding: 15px;
        border-radius: 3mm;
        background: rgb(246, 189, 65);
        box-shadow: 2px 2px rgba(0, 0, 0, 0.237), 5px 5px rgba(0, 0, 0, 0.174),
          8px 8px rgba(0, 0, 0, 0.089);
      }
      .cards {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .card-content {
        width: fit-content;
      }
      .card-left {
        width: fit-content;
        border-radius: 3.5mm;
        height: 100%;
      }
      .ranks {
        width: 100%;
        font-size: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        padding: 30px 20px;
        min-height: 130px;
      }
      .card-img {
        width: 60%;
        border: 0.6mm solid rgba(0, 0, 0, 0.747);
        border-radius: 3.5mm;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 30px 0;
        background: rgb(47, 47, 47);
      }
      .card-img img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
      }
      .title,
      .title2 {
        width: fit-content;
        font-family: poppins;
      }
      .title2 {
        font-size: large;
      }
      .card-content {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
      .join {
        margin-bottom: 50px;
      }
      .footer-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .bg-dar {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgb(239, 240, 241);
      }
      .footer-section a:hover {
        color: rgb(34, 34, 34);
      }
      .footer-left {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
      }
      .footer-right {
        width: 20%;
        align-items: center;
        justify-content: center;
      }
      .footer-left-titles a {
        text-decoration: none;
        font-family: poppins;
        font-size: x-large;
        color: rgb(54, 54, 54);
        font-weight: 600;
      }
      .footer-left-links a {
        text-decoration: none;
        font-family: poppins;
        font-size: 14px;
        color: rgb(97, 97, 97);
      }
      .footer-right p {
        font-family: poppins;
        font-size: 14px;
        color: rgb(97, 97, 97);
        width: 100%;
        text-align: center;
      }
      @media all and (max-width: 700px) {
        .footer-left {
          width: 100%;
        }
        .footer-right {
          width: 100%;
        }
      }
    </style>
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style2.css" />
  </head>

  <body>
    <% include ../views/partials/header2 %>

    <section class="section" style="padding-top: 1rem">
      <div class="containers">
        <!-- Toppers -->
        <div class="main-title">
          SkillUp 365 <span>Skill Enhancement Program</span>
        </div>
        <div class="join">
          <a href="/SkillRegister">
            Join Now <span class="material-icons-round"> east </span>
          </a>
        </div>
        <div
          class="row d-flex flex-column align-items-center justify-content-center"
          style="padding-bottom: 0.5rem"
        >
          <% if( data[0].weekId !== week[ week.length-1 ].weekId ) { %>
          <h2>
            Toppers for <%= data[0].weekId.substring(8,10) %>-<%=
            data[0].weekId.substring(5,7) %>-<%= data[0].weekId.substring(0,4)
            %>
          </h2>
          <% } else { %>
          <div id="sub-title">This Week's Toppers</div>
          <% } %>
        </div>
        <div class="rows">
          <% for (let i = 0; i < 3; i++){ %>
          <div class="column">
            <div class="cardy">
              <div class="cards">
                <div class="card-left">
                  <div class="corner">
                    <span class="material-icons-round"> emoji_events </span>
                  </div>
                  <div class="ranks"><%=i+1 %></div>
                </div>
                <div class="card-img">
                  <img src="<%= toppers[i].imgUrl %>" />
                </div>
              </div>
              <div class="card-content">
                <p class="title"><%= toppers[i].name %></p>
                <p class="title2"><%= toppers[i].username %></p>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <form action="<%= data.clientAddress %>/skill/" method="POST">
          <select
            class="dropdown custom-select"
            name="weekId"
            onchange="javascript:$('#submit').click();"
          >
            <option value="">Select Week</option>
            <% for (let i = week.length-1; i >= 0; i--){ %>
            <option value="<%= week[i].weekId %>"><%= week[i].weekId %></option>
            <% } %>
          </select>
          <input
            class="b"
            id="submit"
            type="submit"
            name="submit"
            value="Submit"
          />
        </form>
      </div>
    </section>
    <br />
    <br />
    <section class="section mt-3 pb-3" style="padding-top: 1rem">
      <div class="container d-flex flex-column align-items-center">
        <table
          id="leaderboard"
          class="table"
          style="
            width: 100%;
            box-shadow: 0 0 0.125rem 0 rgba(0, 0, 0, 0.15);
            border-radius: 2mm;
            overflow: hidden;
          "
        >
          <thead class="thead-dark table-hover">
            <tr>
              <!-- headers -->
              <th scope="col">Rank</th>
              <th>Roll Number</th>
              <th>HackerRank</th>
              <th>CodeChef</th>
              <th>Codeforces</th>
              <th>InterviewBit</th>
              <th>SPOJ</th>
              <th>GFG</th>
              <th>BuildIT</th>
              <th>Score</th>
              <th>Weekly</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody style="background: white">
            <% for (let i = 0; i < data.length; i++ ){ %>
            <tr>
              <% headers.forEach((col)=> { if (data[i][col]) { %>
              <td><%= data[i][col]===-1? "NA" : data[i][col] %></td>
              <% } else { %>
              <td>0</td>
              <% } %> <% }) %>
            </tr>
            <% } %>
          </tbody>
          <tfoot style="background: white">
            <tr>
              <!-- headers -->
              <th>Rank</th>
              <th>Roll Number</th>
              <th>HackerRank</th>
              <th>CodeChef</th>
              <th>Codeforces</th>
              <th>InterviewBit</th>
              <th>SPOJ</th>
              <th>GFG</th>
              <th>BuildIT</th>
              <th>Score</th>
              <th>Weekly</th>
              <th>Points</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </section>

    <% if(imgUsername) {%>
    <section class="m-0">
      <div class="d-flex flex-column align-items-center mb-5">
        <a
          class="btn btn-sm btn-dark white"
          href="/certificate"
          target="_blank"
          role="button"
          >Print Certificate</a
        >
      </div>
    </section>
    <% } %>
    <br />
    <br />
    <br />
    <!-- jQuery -->
    <script src="/plugins/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="/datatables/datatables.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="/plugins/slick/slick.min.js"></script>
    <!-- filter -->
    <script src="/plugins/shuffle/shuffle.min.js"></script>

    <!-- Main Script -->
    <script src="/js/script.js"></script>

    <script>
      $(document).ready(function () {
        $("#leaderboard").DataTable();
      });
    </script>
    <footer class="bg-dar" id="footers">
      <div class="footer-section">
        <div class="footer-left">
          <div class="footer-left-titles">
            <a href="http://buildit.iare.ac.in/" target="_blank">Build-IT</a>
          </div>
          <div class="footer-left-links">
            <a href="https://www.iare.ac.in" target="_blank">IARE</a>
          </div>
          <div class="footer-left-links">
            <a href="https://forms.gle/J6rtgiSRx4msuuQT6" target="_blank"
              >Feedback</a
            >
          </div>
        </div>
        <div class="footer-right">
          <p>
            Copyright ©
            <script>
              var CurrentYear = new Date().getFullYear();
              document.write(CurrentYear);
            </script>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
