<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../plugins/bootstrap/bootstrap.min.css" />
    <!-- slick slider -->
    <link rel="stylesheet" href="../plugins/slick/slick.css" />
    <!-- themefy-icon -->
    <link rel="stylesheet" href="../plugins/themify-icons/themify-icons.css" />
    <link rel="icon" type="image/png" href="../../images/logo-backup2.png" />

    <!-- Main Stylesheet -->
    <link href="../css/dist/jquery.flipster.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />

    <!--Favicon-->
    <link
      rel="shortcut icon"
      href="../images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <title><%= title %></title>
    <style>
      .section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
      .practiceItem {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        width: 350px;
        height: 200px;
        border: rgba(0, 0, 0, 0.178) solid 1px;
        text-align: center;
        margin: 20px 0;
        border-radius: 3mm;
        color: rgb(56, 56, 56);
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.178);
      }
      .practiceItem:hover {
        color: dodgerblue;
      }
    </style>
  </head>
  <body>
    <% include ../views/partials/header %>
    <!-- page title -->
    <section class="page-title bg-primary position-relative">
      <center>
        <h2 class="text-white font-tertiary"><%= data.courseName %></h2>
      </center>
      <br />
    </section>
    <!-- /page title -->
    <section class="section">
      <% var myList = [] %>
      <% for(var i =0;i<data.length;i++) { %>
      <%   if(title == "topics") { %>
      <%  myList = myList.concat(myList,data[i].topic);%>
      <% } else { %>
      <% myList = myList.concat(myList,data[i].company);%>
      <%} %>
      <%} %>
      <%const unique =new Set(myList); %> 
      <% var myArr = Array.from(unique) %>
      <% for(var i=0; i<myArr.length;i++) {%>
      <a
        href="<%= data.clientRoute %>/tutorials/practice/<%= data.courseId %>/<%= title%>/<%= myArr[i] %>"
        class="practiceItem"
      >
      <%= myArr[i] %>
      </a>
      <% } %>
    </section>
    <% include ../views/partials/aboutfooter %>
    <script src="../plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="../plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="../plugins/slick/slick.min.js"></script>
    <!-- filter -->
    <script src="../plugins/shuffle/shuffle.min.js"></script>

    <!-- Main Script -->
    <script src="../js/script.js"></script>
  </body>
</html>