<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <title id="demo1"></title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <!-- slick slider -->
    <link rel="stylesheet" href="plugins/slick/slick.css" />
    <!-- themefy-icon -->
    <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css" />
    <link rel="icon" type="image/png" href="../../images/logo-backup2.png" />

    <!-- Main Stylesheet -->

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <style>
      body {
        min-height: 100vh;
        position: relative;
        padding: 0;
        margin: 0;
      }
      .green {
        color: green;
      }
      .red {
        color: red;
      }
      .orange {
        color: orange;
      }
      .black {
        color: black;
      }

      .button1 {
        border-radius: 4px;
        background-color: #454fd4;
        border: none;
        color: white;
        text-align: center;
        font-size: 15px;
        padding: 5px;
        width: 110px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }

      .button1 span {
        cursor: pointer;
        display: inline-block;
        transition: 1s;
      }

      .button1 span:after {
        content: "\21B6";
        opacity: 0;
        top: 50px;
        right: 20px;
        transition: 0.3s;
      }

      .button1:hover span {
        padding-right: 20px;
      }

      .button1:hover span:after {
        opacity: 1;
        right: 0;
        padding-bottom: 20px;
      }
      p {
        font-size: 130%;
      }
      .button {
        border-radius: 4px;
        background-color: #454fd4;
        border: none;
        color: white;
        /* text-align: center; */
        font-size: px;
        padding: 20px;
        width: 160px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 1s;
      }
      .button span:after {
        content: "\00bb";
        position: "relative";
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      .button:hover span {
        padding-left: 25px;
      }
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }
      div .border {
        border-color: red;
        margin: 4px;
        padding: 4px;
        border-width: 3px;
      }
      .top-section {
        width: 95%;
        height: fit-content;
        color: black;
        font-family: poppins;
        text-align: center;
        border: 0.5mm solid black;
        border-radius: 2mm;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        background: rgb(236,94,79);
        position: relative;
      }
      .page {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        height: 100%;
      }
      .main {
        font-family: poppins;
        position: sticky;
        left: 0;
        flex-basis: 25%;
        max-width: 25%;
        overflow-y: auto;
      }
      .row {
        color: black;
        padding: 15px 0;
      }
      .row h2{
        margin: 0;
      }
      .page iframe {
        flex-basis: 75%;
      }
      .qid {
        font-size: small;
        font-weight: 600;
      }
      .qlink {
        margin-top: 0;
      }
      .qlink a {
        width: 90%;
        text-decoration: none;
        color: black;
        font-size: large;
        border-bottom-right-radius: 8mm;
        border-top-right-radius: 8mm;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 15px;
        padding-top: 3px;
        padding-bottom: 3px;
      }
      .qlink a:hover{
        background: rgba(0, 0, 0, 0.095);
        
      }
      .question-id{
        font-size: small;
        font-weight: 500;
        margin-bottom: 1px;
      }
      #demo {
        font-size: x-large;
        margin-top: 0;
      }
      .qhead {
        width: 100%;
        text-align: center;
        font-weight: 600;
        padding: 12px 0;
        background: rgb(246, 189, 65);
        border-bottom: 0.5mm solid black;
        margin-bottom: 10px;
        border-top-left-radius: 2mm;
        border-top-right-radius: 2mm;
        font-size: larger;
      }
      .startbutton {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: poppins;
        flex-direction: column;
        background: white;
      }
      #Start {
        font-family: poppins;
        margin-top: 100px;
        font-size: x-large;
        background: rgb(246, 189, 65);
        color: rgb(0, 0, 0);
        padding: 5px 14px;
        border-radius: 2mm;
        border: 0.5mm solid black;
        margin-bottom: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #Start span{
        font-size: xx-large;
        margin-left: 0px;
      }
      .nav-btn {
        display: none;
      }
      #username {
        display: block;
      }
      .Description {
        max-width: 600px;
        padding: 10px;
        border-radius: 2mm;
        border: 0.5mm dashed black;
        background: rgba(150, 150, 150, 0.062);
      }
      .Description li{
        margin: 10px 0;

      }
      .dtitle{
        font-size: x-large;
        text-align: center;
        width: 100%;
        font-style:oblique;
      }
      .finished{
        font-family: poppins;
        font-size: x-large;
        padding: 10px;
        border-radius: 2mm;
        border: 0.5mm dashed black;
        background: rgba(150, 150, 150, 0.062);
        display: none;
      }
      .tlogo{
        position: absolute;
        left: 15px;
        bottom: 15px;
        font-size: x-large;
        font-family: Sacramento;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.425);
      }
      .section{
        width: 95%;
        border: 0.5mm solid black;
        border-radius: 2mm;
        margin: auto;
      }
      .timer{
        display: flex;
        align-items: center;
        width: fit-content;
        justify-content: center;
      }
      .timer span{
        font-size: medium;
      }
      .chanceone{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.167);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        display: none;
         background: rgba(255, 255, 255, 0.39);
backdrop-filter: blur( 14.5px );
-webkit-backdrop-filter: blur( 14.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
      }
      .chbox{
        width: 600px;
        background: rgb(52, 52, 52);
        display: flex;
        flex-direction: column;
        padding: 15px;
        border-radius: 2mm;
        font-family: poppins;
        color: white;
      }
      .chalert,.chbutton{
        width: 100%;
        font-size: large;
      }
      .chbutton button{
        float: right;
        width: fit-content;
        background: rgb(246, 189, 65);
        font-family: poppins;
        padding: 10px;
        border-radius: 2mm;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: larger;
        font-weight: 500;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.167);
        color: black;
      }
      .top-nav{
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 30;
        height: 80px;
        background: rgb(239,240,241);
        font-family: poppins;
      }
      .top-nav h1{
        margin: 0;
      }
      .top-nav .top-name{
        font-family: poppins;
        font-size: x-large;
        font-weight: 500;
        margin: 0 20px;
        color: black;
      }
      .top-nav .image{
        display: flex;
        align-items: center;
        margin: 0 0px;
        padding: 5px 15px;
        border-radius: 10mm;
        font-weight: 500;
      }
      .top-nav img{
        width: 70px;
        height: 70px;
        border-radius: 2mm;
        margin: 0 10px;
        border: 0.4mm solid rgba(0, 0, 0, 0.237);
      }
      .top-nav .time{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .top-nav .counterTime{
        width: 105px;
        text-align: left;
        letter-spacing: 1px;
      }
      .decor{
        position: absolute;
        top: 0;
        left: 15px;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .decor span{
        color: white;
        font-size: xx-large;
        line-height: 15px;
      }
    </style>
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style2.css" />
  </head>

  <body>
    <section class="top-nav">
      <div class="top-name">
        BuildIT | IARE
      </div>
      <div class="time">
        <div class="timer">
                <span class="material-icons-outlined">timer</span>Time Remaining
                </div>
                <div class="counterTime">
                <h1 id="demo"></h1>
                </div>
      </div>
      <div class="image">
        <%=imgUsername%>
      <img src="<%=imgUrl%>" alt="">
      </div>
    </section>

    <!-- page title -->
    <section class="page">
      <div class="chanceone" id="firstchance">
        <div class="chbox">
          <div class="chalert">
            Do not <strong>Exit</strong> full Screen or else contest will be ended
          </div>
          <div class="chbutton">
            <button type="button" id="okbut">OK</button>
          </div>
        </div>
      </div>
      <div class="startbutton">
        <button id="Start">Start Exam <span class="material-icons-round">
play_arrow
</span></button>
        <span class="finished">You have Completed the test (Contact Admin for any Issue)</span>
        <div class="Description" id="descit">
          <div class="dtitle">Instructions</div>
          <ol>
          <li>Once You Start the Exam the page will Enter
          Full Screen</li>
          <Strong
            >
            <li>Do Not Exit Full Screen</Strong
          >, If you exit the full screen the exam will
            end immediately <strong> without any notification</strong></li>
          <li>Click On <strong> Start Exam Button </strong> within 5mins the timer
          has already started</li>
          <li>Only One Attempt is available</li>
          <li>Make sure you use only <strong>Google Chrome</strong> or <strong>FireFox</strong> Browsers only</li>
          </ol>
        </div>
        <div class="tlogo">BuildIT</div>
      </div>
      <section class="main">
        <section class="top-section">
          <div class="container">
            <div class="decor">
              |
              <span class="material-icons-round">tungsten</span>
            </div>
            <div class="row">
              <div>
                <h2><%= data.contestId.toUpperCase() %></h2>
              </div>
            </div>
          </div>
        </section>
        <!-- /page title -->
        <div id="div1" style="display: none"><%= datatimer.validTill %></div>
        <div id="div2" style="display: none"><%= datatimer.contestId %></div>
        <script>
          var counter=1
          var countDownDatetemp = document.getElementById("div1").innerHTML;
          countDownDatetemp = countDownDatetemp.slice(
            4,
            countDownDatetemp.length
          );
          var countDownDate = new Date(countDownDatetemp).getTime();

          // Update the count down every 1 second
          var x = setInterval(function () {
            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds

            var hours = Math.floor(
              (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
            );
            var minutes = Math.floor(
              (distance % (1000 * 60 * 60)) / (1000 * 60)
            );
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            if (hours<10){
              hours="0"+hours
            }
            if (minutes<10){
              minutes="0"+minutes
            }
            if (seconds<10){
              seconds="0"+seconds
            }
            // Output the result in an element with id="demo"
            document.getElementById("demo").innerHTML =
              hours + ":" + minutes + ":" + seconds;
            
            // If the count down is over, write some text
            if (distance < 0) {
              clearInterval(x);
              document.getElementById("Start").style.display = "none";
              document.getElementById("descit").style.display="none"
              document.querySelector(".finished").style.display="block"
              document.getElementById("demo").innerHTML = "Expired";
              counter=0
            }
          }, 1000);
        </script>
        <script>
          // Set the date we're counting down to
          var countDownDatetemp = document.getElementById("div1").innerHTML;
          countDownDatetemp = countDownDatetemp.slice(
            4,
            countDownDatetemp.length
          );
          var countDownDate = new Date(countDownDatetemp).getTime();
          // var participation = new Date("Oct 3, 2019 10:50:25").getTime();

          // Update the count down every 1 second
          var x = setInterval(function () {
            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds

            var hours = Math.floor(
              (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
            );
            var minutes = Math.floor(
              (distance % (1000 * 60 * 60)) / (1000 * 60)
            );
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            if (hours<10){
              hours="0"+hours
            }
            if (minutes<10){
              minutes="0"+minutes
            }
            if (seconds<10){
              seconds="0"+seconds
            }
            document.getElementById("demo1").innerHTML =
              hours + "h " + minutes + "m " + seconds + "s ";

            // If the count down is over, write some text
            if (distance < 0) {
              clearInterval(x);
              document.getElementById("demo1").innerHTML = "Time Up";
            }
          }, 1000);
        </script>

        <section class="section">
          <div class="qhead">Questions</div>
          <div class="container">
            <div class="row">
              <% for (let i = 0; i < data.length; i++ ){ %>
              <div class="col-lg-12">
                <div class="qid">
                  <h3 class="qlink">
                    <a
                      href="questions/<%= data[i].questionId %>"
                      target="display-frame"
                    >
                    <span class="question-id">#<%= data[i].questionId %></span>
                      <%= data[i].questionName %></a
                    >
                  </h3>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </section>
      </section>
      <iframe src="" frameborder="0" name="display-frame" id="frame"></iframe>
      <script>
        var a = window.height-80;
        document.getElementById("frame").style.height = a + "px";
        document.querySelector(".main").style.height = a + "px";
      </script>
    </section>
    <!-- jQuery -->
    <script src="plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="plugins/slick/slick.min.js"></script>
    <!-- filter -->
    <script src="plugins/shuffle/shuffle.min.js"></script>

    <!-- Main Script -->
    <script src="js/script.js"></script>
    <form
      action="/endContest/<%= data.contestId%>"
      method="post"
      style="display: none"
      id="myForm"
    ></form>
  </body>
  <script>
    
    start = document.getElementById("Start");
    start.addEventListener("click", () => {
      document.documentElement.requestFullscreen().catch((e) => {
        console.log(e);
      });
      var a = screen.height-80;
        document.getElementById("frame").style.height = a + "px";
        document.querySelector(".main").style.height = a + "px";
      document.querySelector(".startbutton").style.display = "none";

      try{
          var url = "<%= serverUrl%>/checkContest"
          $.ajax({
            // data: { arr: body1 },
            async: false,
            // enctype: 'multipart/form-data',
            url: url,
            headers: { "Authorization": "<%=token%>" },
            type: "POST",
            data: JSON.stringify({username:"<%= imgUsername %>", testId:"<%=data.contestId%>"}),
            cache: false,
            contentType: "application/json",
            processData: false,
            dataType: 'json',
            success: function (response) {
              console.log(1)
            },
            error: function (error) {
              console.log(`Error ${JSON.stringify(error)}`);
            }
          })
          }
        catch (err) {
          console.log(err);
        }
    });
    document.addEventListener(
      "fullscreenchange",
      function () {
        if (
          window.fullScreen ||
          (window.innerWidth == screen.width &&
            window.innerHeight == screen.height)
        ) {
          console.log(1);
        } else {
          if (counter==0){
          document.getElementById("myForm").submit()
          }
          else{
            document.getElementById("firstchance").style.display="flex"
          }
        }
      },
      false
    );
    function onVisibilityChange() {
  if (document.visibilityState === 'visible') {
     console.log("user is focused on the page")
  } else {
    if (document.querySelector(".startbutton").style.display == "none"){
     document.getElementById("myForm").submit()
  }
  }
}

document.addEventListener('visibilitychange', onVisibilityChange);
var okbut = document.getElementById("okbut")
okbut.addEventListener("click",()=>{
      document.documentElement.requestFullscreen().catch((e) => {
        console.log(e);
      });
      var a = screen.height-80;
        document.getElementById("frame").style.height = a + "px";
        document.querySelector(".main").style.height = a + "px";
      document.getElementById("firstchance").style.display="none"
      counter=counter-1
})


        
  </script>
</html>
