<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
    <title>Tutorials</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
  <link rel = "icon" type = "image/png" href = "../../images/logo-backup2.png">

  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

  <style>
    .green {
      color: green;
    }
    .red {
      color: red;
    }
    .orange {
      color: orange;
    }
    .black {
      color: black;
    }

    .button1 {
  border-radius: 4px;
  background-color: #454fd4;
  border: none;
  color: white;
  text-align: center;
  font-size:  15px;
  padding: 5px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  transition: 1s;
}

.button1 span:after {
  content: '\21B6';
  opacity: 0;
  top: 50px;
  right: 20px;
  transition: 0.3s;
}

.button1:hover span {
  padding-right: 20px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
  padding-bottom:20px;  
}
p{
  font-size: 130%;
}
.button {
  border-radius: 4px;
  background-color: #454fd4;
  border: none;
  color: white;
  /* text-align: center; */
  font-size:  px;
  padding: 20px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
}
.button span:after {
  content: '\00bb';
  position: "relative";
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-left: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
div .border {
  border-color: red;
  margin: 4px;
  padding: 4px;
  border-width: 3px;

  </style>
  <style>
#chartdiv {
  width: 100%;
  height: 400px;
  position: absolute;
  bottom:0;
  right: 0;
}
</style>

<!-- Resources -->
<script src="js/core.js"></script>
<script src="js/charts.js"></script>
<script src="js/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end



// Create chart instance
var chart = am4core.create("chartdiv", am4charts.RadarChart);

// Add data
chart.data = [{
  "category": "Easy",
  "value": eval("<%= data.easyPercentage %>"),
  "full": 100
}, {
  "category": "Medium",
  "value": eval("<%= data.mediumPercentage %>"),
  "full": 100
}, {
  "category": "Hard",
  "value": eval("<%= data.hardPercentage %>"),
  "full": 100
}];

// Make chart not full circle
chart.startAngle = -90;
chart.endAngle = 180;
chart.innerRadius = am4core.percent(20);

// Set number format
chart.numberFormatter.numberFormat = "#'%'";

// Create axes
var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "category";
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.renderer.grid.template.strokeOpacity = 0;
categoryAxis.renderer.labels.template.horizontalCenter = "right";
categoryAxis.renderer.labels.template.fontWeight = 500;
categoryAxis.renderer.labels.template.adapter.add("fill", function(fill, target) {
  return (target.dataItem.index >= 0) ? chart.colors.getIndex(target.dataItem.index) : fill;
});
categoryAxis.renderer.minGridDistance = 10;

var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
valueAxis.renderer.grid.template.strokeOpacity = 0;
valueAxis.min = 0;
valueAxis.max = 100;
valueAxis.strictMinMax = true;

// Create series
var series1 = chart.series.push(new am4charts.RadarColumnSeries());
series1.dataFields.valueX = "full";
series1.dataFields.categoryY = "category";
series1.clustered = false;
series1.columns.template.fill = new am4core.InterfaceColorSet().getFor("alternativeBackground");
series1.columns.template.fillOpacity = 0.08;
series1.columns.template.cornerRadiusTopLeft = 20;
series1.columns.template.strokeWidth = 0;
series1.columns.template.radarColumn.cornerRadius = 20;

var series2 = chart.series.push(new am4charts.RadarColumnSeries());
series2.dataFields.valueX = "value";
series2.dataFields.categoryY = "category";
series2.clustered = false;
series2.columns.template.strokeWidth = 0;
series2.columns.template.tooltipText = "{category}: [bold]{value}[/]";
series2.columns.template.radarColumn.cornerRadius = 20;

series2.columns.template.adapter.add("fill", function(fill, target) {
  return chart.colors.getIndex(target.dataItem.index);
});

// Add cursor
chart.cursor = new am4charts.RadarCursor();

}); // end am4core.ready()
</script>

</head>

<body>

  <% include ../views/partials/header %>

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <center><h3 class="text-red font-tertiary" ><%= data.courseId %></h3></center>
</section>
<!-- /page title -->
<div id="chartdiv" style = "background: white;"></div>

<div id="div2" style="display: none;"><%= datatimer.courseId %></div>



<section class="section">
  <div class="container">
    
    <br>
    <div class="row">
      <% for (let i = 0; i < data.length; i++ ){ %>
      <div class="col-lg-12">
        <div class="font-tertiary mb-5">#<%= data[i].questionId %>  <p class = "font-tertiary <%= data[i].color %>"><%= data[i].solved %></p>

            <h3 class="font-tertiary mb-5"><a href = "questions/<%= data[i].questionId %>" target="_blank"> <%= data[i].questionName %></a></h3>
        </div>  
      </div>
      <% } %>
    </div>
    <div>
</div> 
  </div>
</section>


<!-- jQuery -->
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>

</body>
</html>