<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title><%= data[0].questionName %></title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
  <link rel = "icon" type = "image/png" href = "../../images/logo-backup2.png">

  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>
<style>
.button1 {
  border-radius: 4px;
  background-color: #454fd4;
  border: none;
  color: white;
  text-align: center;
  font-size:  15px;
  padding: 5px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  transition: 1s;
}

.button1 span:after {
  content: '\21B6';
  opacity: 0;
  top: 50px;
  right: 20px;
  transition: 0.3s;
}

.button1:hover span {
  padding-right: 20px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
  padding-bottom:20px;  
}
p{
  font-size: 130%;
}
.button {
  border-radius: 4px;
  background-color: #454fd4;
  border: none;
  color: white;
  /* text-align: center; */
  font-size:  px;
  padding: 20px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
}
.button span:after {
  content: '\00bb';
  position: "relative";
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-left: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
div .border {
  border-color: red;
  margin: 4px;
  padding: 4px;
  border-width: 3px;


</style>

<body>

<script>
function close_window() {
    close();
}
</script>
<!-- about -->
<section class="section pt-8">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
          <a href="javascript:close_window();"><button onclick="close()" class = "button1" ><span style="color: #ffffff" >Close</span></button></a><br><br>
        <a href= "<%= data.url %>/ide/<%= data[0].questionId %>" style="color:white" target="_blank"><button class = "button" style = "float: right" position = "right"><span>Online Editor</span></button></a>

        <h3 class="section-title"><%= data[0].questionName %> - #<%= data[0].questionId %></h3>

      <div class="border" style="background: #F7F4E7; font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <div class = "font-tertiary text-white">
            <p class="cars-text" style="font-size: 130%;"><%= data[0].questionDescriptionText %></p>
        </div>
        <% if(data[0].questionInputText) { %>
      <div>          
            <h4><b>Input:</b></h4>
            <blockquote style="font-size: 20px">
              <li><%= data[0].questionInputText %></li>
            </blockquote>
          </div>
          <br>
          <% } %>
          <% if(data[0].questionOutputText) { %>
            <div>
              <h4><b>Output:</b></h4>
              <blockquote style="font-size: 20px">
                <li><%= data[0].questionOutputText %></li>
              </blockquote>
            </div>
            <br>
            <% } %>
        <% if(data[0].questionExampleInput1) { %>
        <div>
          <h4><b>Sample Input 1:</b></h4>
            <pre style="font-size: 18px"><%= data[0].questionExampleInput1 %></pre>
          </div>
        <br>
        <% } %>
        <% if(data[0].questionExampleOutput1) { %>
          <div>
            <h4><b>Sample Output 1:</b></h4>
            <pre style="font-size: 18px"><%= data[0].questionExampleOutput1 %></pre>
          </div>
          <br>
          <% } %>
        <% if(data[0].questionExampleInput2) { %>
        <div>
          <h4><b>Sample Input 2:</b></h4>
            <pre style="font-size: 18px"><%= data[0].questionExampleInput2 %></pre>
          </div>
        <br>
        <% } %>
        <% if(data[0].questionExampleOutput2) { %>
          <div>
            <h4><b>Sample Output 2:</b></h4>
            <pre style="font-size: 18px"><%= data[0].questionExampleOutput2 %></pre>
          </div>
          <br>
          <% } %>
        <% if(data[0].questionExampleInput3) { %>
        <div>
          <h4><b>Sample Input 3:</b></h4>
            <pre style="font-size: 18px"><%= data[0].questionExampleInput3 %></pre>
          </div>
        <br>
        <% } %>
          <% if(data[0].questionExampleOutput3) { %>
          <div>
            <h4><b>Sample Output 3:</b></h4>
            <pre style="font-size: 18px"><%= data[0].questionExampleOutput3 %></pre>
          </div>
          <br>
          <% } %>
          <% if (data[0].questionExplanation !== undefined) { %>
          <div>    
          <h4><b>Explanation:</b></h4>
          <p class="cars-text"><%= data[0].questionExplanation %></p>
        </div>
        <br>  
        <% } %>
        <% if (data[0].author !== undefined) { %>
        <div>
          <h4><b>Author:</b></h4>
          <p class="cars-text"><%= data[0].author %></p>
        </div>
        <% } %>
      </div>
      <br>
      <a href= "<%= data.url %>/ide/<%= data[0].questionId %>" style="color:white" target="_blank"><button class = "button" position = "right"><span>Online Editor</span></button></a>
    </div>
  </div>
</section>

<!-- jQuery -->
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>

</body>
</html>