<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>BuildIT</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>

<!-- <% include ../views/partials/header %> -->

<!-- about -->
<section class="section pt-5">
    <div class="container">
    <div class="row">
      <div class="col-md-8">
        <button class = "button"><a href= "http://localhost:3000/contests/<%= data[0].contestId %>" style="color:white" ><span>Back to Questions</span></a></button></a><br><br>
        <h3 class="section-title"><%= data[0].questionName %> - <%= data[0].questionId %></h3>
        
        <div class = "font-tertiary text-white">
            <p class="cars-text"><%= data[0].questionDescriptionText %>
            </p>
            <% if (data[0].difficulty !== undefined) { %>
            <sup>Difficulty: <%= data[0].difficulty %></sup>
            <% } %>
        </div>
        <% if(data[0].questionInputText !== undefined ) { %>
      <div class="col-md-8">          
            <h4><b>Input:</b></h4>
            <!-- <blockquote> -->
              <li><%= data[0].questionInputText %></li>
            <!-- </blockquote> -->
          </div>
          <% } %>
          <% if(data[0].questionOutputText !== undefined ) { %>
            <div>
              <h4><b>Output:</b></h4>
              <blockquote>
                <li><%= data[0].questionOutputText %></li>
              </blockquote>
            </div>
            <% } %>
        <% if(data[0].questionExampleInput1 !== undefined && data[0].questionExampleInput2 !== undefined && data[0].questionExampleInput3 !== undefined) { %>
        <div>
          <h4><b>Sample Input:</b></h4>
          <blockquote>
            <p>Input 1</p>
            <li><%= data[0].questionExampleInput1 %></li>
            <p>Input 2</p>
            <li><%= data[0].questionExampleInput2 %></li>
            <p>Input 3</p>
            <li><%= data[0].questionExampleInput3 %></li>
          </blockquote>
        </div>
        <% } %>
        <% if(data[0].questionExampleOutput1 !== undefined && data[0].questionExampleOutput2 !== undefined && data[0].questionExampleOutput3 !== undefined) { %>
          <div>
            <h4><b>Sample Output :</b></h4>
            <blockquote>
              <p>Output 1</p>
              <li><%= data[0].questionExampleOutput1 %></li>
              <p>Output 2</p>
              <li><%= data[0].questionExampleOutput2 %></li>
              <p>Output 3</p>
              <li><%= data[0].questionExampleOutput3 %></li>
            </blockquote>
          </div>
          <% } %>
          <% if (data[0].questionExplanation !== undefined) { %>
          <div>    
          <h4><b>Explanation:</b></h4>
          <blockquote>
            <p><%= data[0].questionExplanation %></p>
        </blockquote>
        </div>
        <% } %>
        <% if (data[0].author !== undefined) { %>
        <div>
          <h4><b>Author:</b></h4>
          <blockquote>
            <p><%= data[0].author %></p>
          </blockquote>
        </div>
        <% } %>
    </div>
  </div>
</section>

<!-- jQuery -->
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>

</body>
</html>