<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title id = "demo1"></title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
  <link rel = "icon" type = "image/png" href = "../../images/logo-backup2.png">

  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

  <style>
    .green {
      color: green;
    }
    .red {
      color: red;
    }
    .orange {
      color: orange;
    }
    .black {
      color: black;
    }

    .button1 {
  border-radius: 4px;
  background-color: #454fd4;
  border: none;
  color: white;
  text-align: center;
  font-size:  15px;
  padding: 5px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  transition: 1s;
}

.button1 span:after {
  content: '\21B6';
  opacity: 0;
  top: 50px;
  right: 20px;
  transition: 0.3s;
}

.button1:hover span {
  padding-right: 20px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
  padding-bottom:20px;  
}
p{
  font-size: 130%;
}
.button {
  border-radius: 4px;
  background-color: #454fd4;
  border: none;
  color: white;
  /* text-align: center; */
  font-size:  px;
  padding: 20px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
}
.button span:after {
  content: '\00bb';
  position: "relative";
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-left: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
div .border {
  border-color: red;
  margin: 4px;
  padding: 4px;
  border-width: 3px;

  </style>
</head>

<body>

  <% include ../views/partials/header %>

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary" id="demo"></h1>
      </div>
    </div>
  </div>

</section>
<!-- /page title -->
<div id="div1" style="display: none;"><%= datatimer.validTill %></div>
<div id="div2" style="display: none;"><%= datatimer.contestId %></div>
<script>
    
  var countDownDatetemp = document.getElementById("div1").innerHTML;
  countDownDatetemp = countDownDatetemp.slice(4, countDownDatetemp.length);
  var countDownDate = new Date(countDownDatetemp).getTime();


  // Update the count down every 1 second
  var x = setInterval(function() {
  
    // Get today's date and time
    var now = new Date().getTime();
      
    // Find the distance between now and the count down date
    var distance = countDownDate - now;
      
    // Time calculations for days, hours, minutes and seconds
    
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      
    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML =hours + "h "
    + minutes + "m " + seconds + "s ";
      
    // If the count down is over, write some text 
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "Expired";
    }
  }, 1000);
</script>
<script>
            // Set the date we're counting down to
            var countDownDatetemp = document.getElementById("div1").innerHTML;
            countDownDatetemp = countDownDatetemp.slice(4, countDownDatetemp.length);
            var countDownDate = new Date(countDownDatetemp).getTime();
            // var participation = new Date("Oct 3, 2019 10:50:25").getTime();
            
            // Update the count down every 1 second
            var x = setInterval(function() {
            
              // Get today's date and time
              var now = new Date().getTime();
                
              // Find the distance between now and the count down date
              var distance = countDownDate - now;
                
              // Time calculations for days, hours, minutes and seconds
              
              var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
              // Output the result in an element with id="demo"
              document.getElementById("demo1").innerHTML =hours + "h "
              + minutes + "m " + seconds + "s ";
                
              // If the count down is over, write some text 
              if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo1").innerHTML = "Time Up";
              }
            }, 1000);
</script>

<section class="section">
  <div class="container">
    <div class="row">
      <% for (let i = 0; i < data.length; i++ ){ %>
      <div class="col-lg-12">
        <div class="font-tertiary mb-5">#<%= data[i].questionId %>  <p class = "font-tertiary <%= data[i].color %>">Score: <%= data[i].score %></p>

            <h3 class="font-tertiary mb-5"><a href = "questions/<%= data[i].questionId %>" target="_blank"> <%= data[i].questionName %></a></h3>
        </div>  
      </div>
      <% } %>
    </div>

  </div>
</section>

<!-- jQuery -->
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>

</body>
</html>