<!DOCTYPE html>
<html>
<title>Submissions Table</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/navadmin.css">
<link rel="stylesheet" href="../css/w3.css">
<head>
    <link rel = "icon" type = "image/png" href = "../../images/logo-backup2.png">
</head>


<body>
    <ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								
								<li>
									<a class="gn-icon gn-icon-download" >Manage Contests</a>
									<ul class="gn-submenu">
										<li><a class="gn-icon gn-icon-add" href="<%= data.url %>/admin/add/contest">Add Contests</a></li>
										<li><a class="gn-icon gn-icon-update" href="<%= data.url %>/admin/update/contest">Update Contests</a></li>
										<li><a class="gn-icon gn-icon-trashcan" href="<%= data.url %>/admin/update/contest">Delete Contests</a></li>
									</ul>
								</li>
								<li>
									<a class="gn-icon gn-icon-download" >Manage Questions</a>
									<ul class="gn-submenu">
										<li><a class="gn-icon gn-icon-add" href="<%= data.url %>/admin/add/question">Add Questions</a></li>
										<li><a class="gn-icon gn-icon-update" href="<%= data.url %>/admin/update/question">Update Questions</a></li>
										<li><a class="gn-icon gn-icon-trashcan" href="<%= data.url %>/admin/update/question">Delete Questions</a></li>
									</ul>
								</li>
								<li><a class="gn-icon gn-icon-cog" 	href="<%= data.url %>/admin/manageusers" >Manage users</a></li>
								<li><a class="gn-icon gn-icon-help" href="<%= data.url %>/admin/results">Results</a></li>
								
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
				
				<li><a class="codrops-icon codrops-icon-prev" href="<%= data.url %>/logout"><span>Logout</span></a></li>
				
      </ul>
      <br><br><br><br><br>
    <div class="w3-container" style="background: white;">
  <h2 style="text-align: center">Contest Id - <%= datap[0].contestId %> </h2>
  <button onclick="exportTableToCSV('results.csv')">Download Results</button>
  <br><hr>
  <table class="w3-table w3-striped">
    <tr>
      <th>Username</th>
      <th>Participation Time</th>
      <% for (let i = 0; i < dataq.length; i++){ %>
        <th><%= dataq[i].questionId %></th>
      <% } %>
    </tr>
  <% for(let i=0; i < datap.length; i++){ %>    
      <tr>
        <td><%= datap[i].username %></td>
        <td><%= datap[i].participationTime.slice(0, datap[i].participationTime.length - 9 ) %></td>
        <% if (datap[i].submissionResults.length !== 0){ %>
          <% for (let j = 0; j < datap[i].submissionResults.length ; j++ ){ %>
            <% let done = 0; let k = 0; %>
            <% while (done < dataq.length-1 && k < dataq.length) { %>
              <% if (dataq[k].questionId === datap[i].submissionResults[j].questionId) { %>
                <% done++ %>
          <td><%= datap[i].submissionResults[j].score %></td>
              <% } %>
              <% k++ %>
            <% } %>
          <% } %>
        <% } %>
      </tr>
  <% } %>
  </table>
  <br>
  <br>
</div>
<script src="/adminjs/classie.js"></script>
<script src="/adminjs/gnmenu.js"></script>
<script>
  new gnMenu( document.getElementById( 'gn-menu' ) );
</script>
<script>
  function downloadCSV(csv, filename) {
  var csvFile;
  var downloadLink;

  csvFile = new Blob([csv], {type: "text/csv"});

  downloadLink = document.createElement("a");

  downloadLink.download = filename;

  downloadLink.href = window.URL.createObjectURL(csvFile);

  downloadLink.style.display = "none";

  document.body.appendChild(downloadLink);

  downloadLink.click();
}

function exportTableToCSV(filename) {
  var csv = [];
  var rows = document.querySelectorAll("table tr");
  
  for (var i = 0; i < rows.length; i++) {
      var row = [], cols = rows[i].querySelectorAll("td, th");
      
      for (var j = 0; j < cols.length; j++) 
          row.push(cols[j].innerText);
      
      csv.push(row.join(","));        
  }

  downloadCSV(csv.join("\n"), filename);
}
  </script>
</body>
</html>
