<!DOCTYPE html>
<html>
<title>Submissions Table</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Contest Id - <%= data[0].contestId %> </h2>

  <table class="w3-table w3-striped">
    <tr>
      <th>ParticipationId</th>
      <th>Participation Time</th>
      <th>Username</th>
      <% for (let i = 0; i < dataq.length; i++){ %>
        <th><%= dataq[i].questionId %></th>
      <% } %>
    </tr>
<% for(let i=0; i < datap.length; i++){ %>    
    <tr>
      <td><%= datap[i].participationId %></td>
      <td><%= datap[i].participationTime %></td>
      <td><%= datap[i].username %></td>
      <% for (let j = 0; j < datap[i].submissionResults; j++ ){ %>
        <% for (let k = 0; k < dataq.length; k++) { %>
          <% if (dataq[k].questionId === datap[i].submissionResults[j].questionId) %>
            <td><%= datap[i].submissionResults[j].score %></td>
          <% } %>
        <% } %>
      <% } %>
    </tr>
<% } %>
  </table>
</div>

</body>
</html>
