<!DOCTYPE html>
<html>
  <title>Submissions Table</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../css/navadmin.css" />
  <link rel="stylesheet" href="../css/w3.css" />
  <head>
    <link rel="icon" type="image/png" href="../../images/logo-backup2.png" />
  </head>

  <body>
    <%- include ("../views/partials/adminpanel") -%>
    <br /><br /><br /><br /><br />
    <div class="w3-container" style="background: white">
      <h2 style="text-align: center">Contest Id - <%= datap[0].contestId %></h2>
      <button onclick="exportTableToCSV('results.csv')">
        Download Results
      </button>
      <br />
      <hr />
      <table class="w3-table w3-striped" id="results">
        <thead>
        <tr>
          <th rowspan="2">Roll Number</th>
          <th rowspan="2">Student Name</th>
          <th rowspan="2">Branch</th>
          <th rowspan="2">Contest ID</th>
          <th rowspan="2">Participation Time</th>
          <th colspan="<%= questionLen %>">Individual Question Scores</th>
          <th rowspan="2">Total Score</th>
        </tr>
        <tr>
          <% for(let i=0; i < questionLen; i++){ %>
          <th>Question <%= i+1 %></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < datap.length; i++){ %>
        <tr>
          <td><%= datap[i].username %></td>

          <% if(datap[i].name){ %>
            <td><%= datap[i].name %></td>
            <% }else{ %>
              <td>Not available</td>
          <% } %>

            <td><% if (datap[i].branch === 'cse') { %>
              <%= "CSE" %>
            <% } %>
            <%  if (datap[i].branch === 'data-science') { %>
              <%= "CSE-DS" %>
            <% } %>
            <%  if (datap[i].branch === 'cyber-security') { %>
              <%= "CSE-CS" %>
            <% } %>
            <%  if (datap[i].branch === 'ai-ml') { %>
              <%= "CSE-AI/ML" %>
            <% } %>
            <%  if (datap[i].branch === 'ece') { %>
              <%= "ECE" %>
            <% } %>
            <%  if (datap[i].branch === 'eee') { %>
              <%= "EEE" %>
            <% } %>
            <%  if (datap[i].branch === 'cs-it') { %>
              <%= "CSIT" %>
            <% } %>
            <%  if (datap[i].branch === 'it') { %>
              <%= "IT" %>
            <% } %>
            <%  if (datap[i].branch === 'aero') { %>
              <%= "AERO" %>
            <% } %>
            <%  if (datap[i].branch === 'civil') { %>
              <%= "CIVIL" %>
            <% } %>
            <%  if (datap[i].branch === 'mech') { %>
              <%= "MECH" %>
            <% } %>
            </td>

          <td><%= datap[0].contestId %></td>

          <td>
            <%= datap[i].participationTime.slice(0,
            datap[i].participationTime.length - 9 ) %>
          </td>

          <% for(let j=0; j < questionLen; j++){ %>
          <td><%= datap[i].submissionResults[j] ? datap[i].submissionResults[j].score : 0 %></td>
          <% } %>

          <% var totalScore = 0; %>
          <% if (datap[i].questionLen !== 0){ %>
          <% for (let j = 0;j < datap[i].submissionResults.length ; j++ ){ %>
          <% totalScore += datap[i].submissionResults[j] ? datap[i].submissionResults[j].score : 0 %>
          <% } %>
          <% } %>
          
          <td><%= totalScore %></td>
        </tr>
        <% } %>
      </tbody>
      </table>
      <br />
      <br />
    </div>
    <script src="/adminjs/classie.js"></script>
    <script src="/adminjs/gnmenu.js"></script>
    <script>
      new gnMenu(document.getElementById("gn-menu"));
    </script>
    <script>
      function downloadCSV(csv, filename) {
        var csvFile;
        var downloadLink;

        csvFile = new Blob([csv], { type: "text/csv" });

        downloadLink = document.createElement("a");

        downloadLink.download = filename;

        downloadLink.href = window.URL.createObjectURL(csvFile);

        downloadLink.style.display = "none";

        document.body.appendChild(downloadLink);

        downloadLink.click();
      }

      function exportTableToCSV(filename) {
        var csv = [];
        var rows = document.querySelectorAll("table tr");

        for (var i = 0; i < rows.length; i++) {
          var row = [],
            cols = rows[i].querySelectorAll("td, th");

          for (var j = 0; j < cols.length; j++) row.push(cols[j].innerText);

          csv.push(row.join(","));
        }

        downloadCSV(csv.join("\n"), filename);
      }
    </script>
    <script type="text/javascript" src="/datatables/datatables.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#results").DataTable();
      });
    </script>
  </body>
</html>
