<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Name</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link
      rel="shortcut icon"
      href="./images/iare-chapter/iare-logo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="./css/courses.css" />
  </head>
  <body>
    <section class="title-section">
      <% include ../views/partials/header2 %>
      <div class="random_icons">
        <span class="material-icons-round ri"> code </span>
      </div>
      <div class="random_icons2">
        <span class="material-icons ri"> laptop_chromebook </span>
      </div>
      <div class="title-division">
        <div class="title-texts">
          <div class="smallname">BuildIT</div>
          <div class="Contest-title"><%= data.courseName %></div>
          <div class="smalltext">#<%= data.courseId %></div>
        </div>
      </div>
    </section>
    <script>
      var ri = document.querySelectorAll(".ri");
      for (var i = 0; i < ri.length; i++) {
        ri[i].style.color = "rgba(120, 120, 120,0.7)";
      }
    </script>
    <script>
      var mop = document.getElementById("menu-open");
      var mcl = document.getElementById("menu-close");
      var chna2 = document.querySelector(".chapter-navigation2");
      var dotsmenu = document.querySelector(".dots-nav");
      var dots = document.querySelector(".threedots");
      var toggle = 0;
      var press = 0;
      dots.onclick = function () {
        if (toggle == 0) {
          dotsmenu.style.display = "flex";
          toggle = 1;
        } else {
          dotsmenu.style.display = "none";
          toggle = 0;
        }
        press = 1;
      };
      window.onclick = function () {
        if (toggle == 1 && press == 0) {
          dotsmenu.style.display = "none";
          toggle = 0;
        } else {
          press = 0;
        }
      };
      function navslide() {
        chna2.style.transform = "translateX(101vw)";
      }
      mop.onclick = function () {
        chna2.style.transform = "translateX(0)";
      };
      mcl.onclick = function () {
        chna2.style.transform = "translateX(101vw)";
      };
      var navigation = document.querySelector(".chapter-navigation");
      var th = document.body.scrollHeight - window.innerHeight;
      var ij = 0;
      window.onscroll = function () {
        let p =
          (window.pageYOffset /
            (document.body.scrollHeight - window.innerHeight)) *
          100;
        if (p > 5) {
          navigation.style.transition = "all 0.25s";
          navigation.style.boxShadow = "0 0 10px rgba(0,0,0,0.5)";
        } else {
          navigation.style.transition = "all 0.25s";
          navigation.style.boxShadow = "0 0 0px rgba(0,0,0,0.5)";
        }
        if (p > ij && p > 15) {
          navigation.style.transform = "translateY(-100px)";
        } else if (p < ij) {
          navigation.style.transform = "translateY(0px)";
        }
        ij = p;
        if (p > 10) {
          navigation.style.background = "rgb(255,255,255)";
        } else {
          navigation.style.background = "rgb(255,255,255)";
        }
      };
    </script>
    <section class="contests-list-section">
      <div class="headTexts">
        <div class="topimg">
          <span class="material-icons-round"> category </span>
        </div>
        <div class="toptext">
          Participate and practice in the contests related to Course Name
        </div>
      </div>
      <div class="contests-list">
        <% for(var i=0; i<data.length; i++) {%>
        <a href="/courses/contest/<%= data[i].contestId %>" class="contest">
          <div class="contest-status">
            <div class="material-icons-round active">fiber_manual_record</div>
          </div>
          <div class="contest-name"><%= data[i].contestName %></div>
          <div class="contestID">#<%= data[i].contestId %></div>
          <div class="contest-startDate">
            <strong>Start Date:</strong> <%= (data[i].contestDate).split('-').reverse().join('/'); %>
          </div>
          <div class="contest-startTime">
            <strong>Start Time:</strong> 9:30AM
          </div>
          <div class="contest-endDate"><strong>End Date:</strong> 12/01/22</div>
          <div class="contest-endTime"><strong>End Time:</strong> 3:30PM</div>
          <div class="contest-Duration"><strong>Duration:</strong> 18Hrs</div>
          <button type="button">
            Participate <span class="material-icons-round">east</span>
          </button>
        </a>
        <% } %> <% for(var i=0; i<data.length; i++) {%>
        <a href="/courses/contest/<%= data[i].contestId %>" class="contest">
          <div class="contest-status">
            <div class="material-icons-round completed">done_all</div>
          </div>
          <div class="contest-name"><%= data[i].contestName %></div>
          <div class="contestID">#<%= data[i].contestId %></div>
          <div class="contest-startDate">
            <strong>Start Date:</strong> 11/01/22
          </div>
          <div class="contest-startTime">
            <strong>Start Time:</strong> 9:30AM
          </div>
          <div class="contest-endDate"><strong>End Date:</strong> 12/01/22</div>
          <div class="contest-endTime"><strong>End Time:</strong> 3:30PM</div>
          <div class="contest-Duration"><strong>Duration:</strong> 18Hrs</div>
          <button type="button">
            Participate <span class="material-icons-round">east</span>
          </button>
        </a>
        <% } %>
      </div>
      <script>
        var complete = document.querySelectorAll(".completed");
        var active = document.querySelectorAll(".active");
        for (var i = 0; i < active.length; i++) {
          active[i].innerHTML = "fiber_manual_record";
        }
        for (var i = 0; i < complete.length; i++) {
          complete[i].innerHTML = "done_all";
        }
      </script>
    </section>
    <% include ../views/partials/footer2%>
  </body>
</html>
