<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Theme3</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <style>
      body {
        display: block;
      }
      .main-container3 {
        width: 960px;
        height: 1353px;
        display: flex;
        margin: auto;
        font-family: Montserrat;
        position: relative;
      }
      .block {
        width: 25px;
        height: 65px;
        position: absolute;
        top: 0px;
        left: -15px;
        background: rgb(255, 0, 0);
      }
      .left3 {
        width: 510px;
        padding-left: 20px;
        height: 1353px;
        padding-right: 20px;
      }
      .right3 {
        width: 450px;
        padding-right: 10px;
        background: rgb(241, 241, 241);
        height: 1353px;
        border-bottom-left-radius: 75mm;
        border-bottom-right-radius: 75mm;
        border-top: solid rgb(255, 0, 0) 7px;
      }
      .name3 {
        padding: 5px;
        padding-top: 15px;
        font-size: 45px;
        font-weight: 500;
      }
      .contactDetails3 {
        padding: 5px;
      }
      .contactDetails3 p {
        margin: 0;
      }
      .contactDetails3 .high {
        font-weight: bold;
      }
      .contactDetails3 .low {
        margin-bottom: 15px;
      }
      .label3 {
        font-size: xx-large;
        font-weight: 500;
        color: rgb(255, 0, 0);
        background: rgb(241, 241, 241);
        width: 90%;
        border-top-right-radius: 6mm;
        border-bottom-right-radius: 6mm;
        padding: 2px 5px;
        padding-left: 15px;
        margin: 20px 0px;
      }
      .socialmedia3{
          padding: 2px 0;
      }
      .socialmedia3 a{
          text-decoration: none;
          color:rgb(255, 0, 0);
          background:rgb(241, 241, 241);
          padding: 2px 6px;
          border-radius: 4mm;
          font-weight: 500;
          box-shadow: 1px 2px 0px rgba(0,0,0,0.25);
      }
      .socialmedia3 a span{
          font-size: small;
          margin-left: 3px;
      }
    .education{
               margin-top: 10px;
      }
      .edupart p{
          margin: 5px;
          font-size: medium;
      }
      .edurow1{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 5px 0;
      }
      .edurow2{
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
            .intern p {
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .intern p .title {
        font-size: medium;
      }
      .intern {
        margin-bottom: 20px;
      }
      .intern p a {
        text-decoration: none;
        color: rgb(255, 0, 0);
      }
      .intern p a span {
        font-size: medium;
      }
      .project {
        margin-bottom: 20px;
      }
      .project p{
          margin: 0;
      }
      .project p a{
        text-decoration: none;
        color: rgb(255, 0, 0);
      }
      .project p a span{
          font-size: medium;
      }
      .block2{
        position: absolute;
        top: 80px;
        left: -15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .block2 span{
          margin: 0;
      }
      .label32{
          color: black;
          font-size: 30px;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content:flex-start;
          height: fit-content;
          padding-bottom: 15px;
          margin-top: 35px;
      }
      .label32 .bullet{
          display: flex;
      }
      .label32 .bullet span{
          font-size: 40px;
          padding: 0;
      }
      .brief{
          padding: 0px 10px;
          text-align: justify;
          margin-top: 35px;
          font-weight: 500;
      }
      .brief p{
          margin: 0;
      }
      .skills3{
          padding: 0px 15px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
      }
      .skills3 p{
          margin: 0;
      }
      .skill3{
          padding: 3px 12px;
          border-radius: 6mm;
          background: rgb(255, 0, 0);
          color: white;
          width: fit-content;
          margin: 5px;
          font-weight: 500;
          box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.20);
      }
      .codelink3{
          display: flex;
          align-items: center;
      }
      .codelink3 a{
          text-decoration: none;
          color: rgb(54, 54, 54);
      }
      .codelink3 a span{
          font-size: small;
          margin-left: 3px;
      }
      .platform3s3{
          padding: 0 10px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
      }
      .platform3s3 p{
          margin: 0;
      }
      .platform3s3 a{
          text-decoration: none;
          color: white;
      }
      .platform3{
        padding: 3px 12px;
          border-radius: 6mm;
          background: rgb(255, 0, 0);
          color: white;
          width: fit-content;
          margin: 5px;
          font-weight: 500;
          box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.20);
      }
      .Achievements3 p,.Extras3 p{
          padding: 0px 10px;
          margin: 0;
          font-weight:500;
          margin-bottom: 10px;
      }
      .Achievements3 span{
          padding: 0px 10px;
      }
      #print{
          align-self: center;
          background: rgb(255, 180, 180);
          color: rgb(127, 18, 18);
          font-size: x-large;
          padding: 3px 25px;
          border: none;
          border-radius: 10mm;
          outline: none;
          cursor: pointer;
          margin-top: 10px;
          margin: auto;
          display: block;
        }
        #print:hover{
            background: rgb(255, 167, 167);
        }
        .rollnumber3{
          position: absolute;
          left: 20px;
          bottom: 5px;
          color: rgba(44, 44, 44, 0.63);
        }
        @media print{
          .pagebreak { page-break-before: always; }
            #print{
                visibility: hidden;
                display: none;
            }
        }
    </style>
  </head>
  <body>
    <div class="main-container3">
      <div class="rollnumber3">
        <%= data.resumeId %>
      </div>
      <div class="block"></div>
      <div class="block2">
          <span class="material-icons-outlined">
expand_more
</span>
<span class="material-icons-outlined">
expand_more
</span>
<span class="material-icons-outlined">
expand_more
</span>
<span class="material-icons-outlined">
    expand_more
    </span>
    <span class="material-icons-outlined">
        expand_more
        </span>
      </div>
      <div class="left3">
        <div class="name3">
          <%= data.personalInfo.firstName%> <%= data.personalInfo.lastName%>
        </div>
        <div class="contactDetails3">
          <div class="label3">Contact</div>
          <span class="details">
            <p class="high">Address</p>
            <p class="low">
              <%= data.personalInfo.city%> <%= data.personalInfo.country%> <%=
              data.personalInfo.pinCode%>
            </p>
          </span>
          <span>
            <p class="high">Phone</p>
            <p class="low"><%= data.personalInfo.phoneNumber%></p>
          </span>
          <span>
            <p class="high">Email</p>
            <p class="low"><%= data.personalInfo.emailId%></p>
          </span>
          <% for(var i=0;i<data.personalInfo.socials.length;i++){ %>
            <span class="socialmedia3">
              <a href="<%=data.personalInfo.socials[i][1]%>" target="_blank"><%=data.personalInfo.socials[i][0]%><span class="material-icons-outlined">
                open_in_new
                </span></a>
            </span>
            <% }%>
        </div>
        <div class="education">
            <div class="label3">Education</div>
            <div class="edupart">
                <p class="edurow2">
                     <span>
                    <%= data.educationalInfo.collegeLocation%>
                </span><span><%= data.educationalInfo.collegeStartDate%> to <%= data.educationalInfo.collegePassingDate%></span>
                </p>
                <p class="edurow1"><strong><%= data.educationalInfo.collegeName%></strong> </p>
                <p class="edurow2">
                    <%= data.educationalInfo.collegeDesc%>: <%= data.educationalInfo.collegeScore%> (<%= data.educationalInfo.collegeScoreType %>)
                </p>
            </div>
            <div class="edupart" style="margin: 15px 0px;">
                <p class="edurow2">
                     <span>
                    <%= data.educationalInfo.interLocation%>
                </span> <span><%= data.educationalInfo.interStartDate%> to <%= data.educationalInfo.interPassingDate%></span>
                </p>
                <p class="edurow1"><strong><%= data.educationalInfo.interName%></strong></p>
                <p class="edurow2">
                    <%= data.educationalInfo.interDesc%>: <%= data.educationalInfo.interScore%> (<%= data.educationalInfo.interScoreType %>)
                </p>
            </div>
            <div class="edupart">
                <p class="edurow2">
                     <span>
                    <%= data.educationalInfo.schoolLocation%>
                </span> <span><%= data.educationalInfo.schoolPassingDate%></span>
                </p>
                <p class="edurow1"><strong><%= data.educationalInfo.schoolName%></strong></p>
                <p class="edurow2">
                    <%= data.educationalInfo.schoolDesc%>: <%= data.educationalInfo.schoolScore%> (<%= data.educationalInfo.schoolScoreType %>)
                </p>
            </div>
        </div>
        <% if(data.internshipInfo.internshipName.length>0){%>
          <div class="interships">
            <div class="label3">Internships</div>
            <% for(var i=0;i<data.internshipInfo.internshipName.length;i++){ %>
            <div class="intern">
                <p>
                  <span class="date"><%= data.internshipInfo.internshipStartDate[i]%> to <%= data.internshipInfo.internshipEndDate[i]%></span>
              </p>
              <p>
                <span><span class="title"
                    ><strong><%= data.internshipInfo.internshipName[i]%></strong>[<%= data.internshipInfo.internshipCompanyName[i]%>]</span
                  ><a href="<%= data.internshipInfo.internshipCertificate[i]%>" target="_blank"
                    ><span class="material-icons-outlined">
                      open_in_new
                    </span></a
                  ></span
                >
              </p>
              
              <p>
                <%= data.internshipInfo.internshipDesc[i]%>
              </p>
            </div>
            <% }%>
          </div>
          <%}%>
        <% if(data.projects.length>0){ %>
          <div class="projects">
            <div class="label3">Projects</div>
            <% for(var i=0;i<data.projects.length;i++){ %>
            <div class="project">
              <p>
                <strong><%= data.projects[i][0]%></strong
                ><a href="<%= data.projects[i][1]%>" target="_blank"
                  ><span class="material-icons-outlined"> open_in_new </span></a
                >
              </p>
              <p>
                <%= data.projects[i][2]%>
              </p>
            </div>
            <%}%>
          </div>
          <%}%>
      </div>
      <div class="right3">
        <% if(data.brief){ %>
            <div class="brief">
              <p>
                <%= data.brief%>
              </p>
            </div>
            <%}%>
            <% if(data.personalSkills.length>0){%>
                <div class="pesskills3">
                    <div class="label32">
                        <div class="bullet">
                          <span class="material-icons-outlined">
                              arrow_right
                              </span>
                                  Personal Skills
                        </div>
                    </div>
                    <div class="skills3">
                  <% for(var i=0;i<data.personalSkills.length;i++){ %>
                  <div class="skill3">
                    <p><%=data.personalSkills[i][0] %></p>
                  </div>
                  <%}%>
                </div>
                </div>
                <%}%>
                <% if(data.professionalSkills.length>0){%>
                    <div class="pesskills3">
                        <div class="label32">
                            <div class="bullet">
                              <span class="material-icons-outlined">
                                  arrow_right
                                  </span>
                                      Professional Skills
                            </div>
                        </div>
                        <div class="skills3">
                      <% for(var i=0;i<data.professionalSkills.length;i++){ %>
                      <div class="skill3">
                        <p><%=data.professionalSkills[i][0] %></p>
                      </div>
                      <%}%>
                    </div>
                    </div>
                    <%}%>
                    <% if(data.codingProfilesInfo.codeChefURL || data.codingProfilesInfo.codeForcesURL || data.codingProfilesInfo.hackerRankURL || data.codingProfilesInfo.geeksForGeeksURL || data.codingProfilesInfo.InterviewBitURL || data.codingProfilesInfo.leetCodeURL || data.codingProfilesInfo.spojURL){%>
                        <div class="coding3">
                            <div class="label32">
                                <div class="bullet">
                                  <span class="material-icons-outlined">
                                      arrow_right
                                      </span>
                                          Coding Profiles
                                </div>
                            </div>
                          <div class="platform3s3">
                          <% if(data.codingProfilesInfo.codeChefURL){ %>
                          <div class="platform3">
                            <p class="codelink3"><a href="<%=data.codingProfilesInfo.codeChefURL%>" target="_blank">CodeChef <span class="material-icons-outlined">
                                open_in_new
                                </span></a></p>
                          </div>
                        <%}%>
                        <% if(data.codingProfilesInfo.hackerRankURL){ %>
                          <div class="platform3">
                            <p class="codelink3"><a href="<%=data.codingProfilesInfo.hackerRankURL%>" target="_blank">Hackerrank <span class="material-icons-outlined">
                                open_in_new
                                </span></a></p>
                          </div>
                          <%}%>
                        <% if(data.codingProfilesInfo.codeForcesURL){ %>
                          <div class="platform3">
                            <p class="codelink3"><a href="<%=data.codingProfilesInfo.codeForcesURL%>" target="_blank">Codeforces <span class="material-icons-outlined">
                                open_in_new
                                </span></a></p>
                          </div>
                          <%}%>
                        <% if(data.codingProfilesInfo.geeksForGeeksURL){ %>
                          <div class="platform3">
                            <p class="codelink3"><a href="<%=data.codingProfilesInfo.geeksForGeeksURL%>" target="_blank">GeeksforGeeks <span class="material-icons-outlined">
                                open_in_new
                                </span></a></p>
                          </div>
                          <%}%>
                          <% if(data.codingProfilesInfo.interViewBitURL){ %>
                          <div class="platform3">
                            <p class="codelink3"><a href="<%=data.codingProfilesInfo.interViewBitURL%>" target="_blank">InterviewBit <span class="material-icons-outlined">
                                open_in_new
                                </span></a></p>
                          </div>
                          <%}%>
                          <% if(data.codingProfilesInfo.leetCodeURL){ %>
                          <div class="platform3">
                            <p class="codelink3"><a href="<%=data.codingProfilesInfo.leetCodeURL%>" target="_blank">LeetCode <span class="material-icons-outlined">
                                open_in_new
                                </span></a></p>
                          </div>
                          <%}%>
                          <% if(data.codingProfilesInfo.spojURL){ %>
                          <div class="platform3">
                            <p class="codelink3"><a href="<%=data.codingProfilesInfo.spojURL%>" target="_blank">Spoj <span class="material-icons-outlined">
                                open_in_new
                                </span></a></p>
                          </div>
                          <%}%>
                        </div>
                        </div>
                        <%}%>
                        <% if(data.achievements.length>0){ %>
                            <div class="Achievements3">
                                <div class="label32">
                                    <div class="bullet">
                                      <span class="material-icons-outlined">
                                          arrow_right
                                          </span>
                                              Achievements
                                    </div>
                                </div>
                              <% for(var i=0;i<data.achievements.length;i++){ %>
                                <span class="date"><%= data.achievements[i][1]%></span>
                              <p style="word-wrap:break-word ;">
                                <%= data.achievements[i][0]%>
                              </p>
                              <%}%>
                            </div>
                            <%}%>
                            <% if(data.extraCurricular.length>0){ %>
                                <div class="Extras3">
                                  <div class="label32">
                                    <div class="bullet">
                                      <span class="material-icons-outlined">
                                          arrow_right
                                          </span>
                                          Extracurricular Activities
                                    </div>
                                </div>
                                  <% for(var i=0;i<data.extraCurricular.length;i++){ %>
                                  <p><%= data.extraCurricular[i] %></p>
                                  <%}%>
                                </div>
                                <%}%>
      </div>
    </div>
    <div class="pagebreak"> </div>
    <button type="button" id="print" onclick="window.print()">Print</button>
  </body>
</html>
