<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Theme1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <style>
      body {
        display: block;
      }
      .main-container {
        margin: 0 auto;
        width: 960px;
        height: 1353px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        font-family: poppins;
      }
      .side1 {
        width: 300px;
        height: 100%;
        background: rgb(0, 90, 181);
        display: block;
      }
      .side2 {
        width: 610px;
        height: 100%;
        background: white;
        display: block;
      }
      .name {
        font-size: xx-large;
        color: white;
        padding: 10px;
        width: 280px;
        font-weight: bold;
        line-height: 35px;
      }
      .images {
        width: 240px;
        padding: 30px;
        max-width: 260px;
        padding-bottom: 10px;
        padding-top: 10px;
      }
      .images img {
        width: 100%;
      }
      .contact {
        width: 300px;
      }
      .label {
        background: rgb(0, 72, 145);
        font-size: x-large;
        padding: 10px;
        color: white;
        font-weight: bold;
        line-height: 18px;
      }
      .contactDetails {
        padding: 10px;
        font-size: medium;
        color: white;
      }
      .contactDetails .high {
        font-weight: bold;
      }
      .contactDetails .low {
        margin-bottom: 10px;
      }
      .contactDetails p {
        margin: 0;
      }
      .peskills,
      .prskills {
        width: 300px;
        display: block;
        color: white;
      }
      .set {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: medium;
      }
      .set p {
        margin: 0;
      }
      .rate {
        display: flex;
        align-items: center;
      }
      .rate span {
        font-size: medium;
        margin: 0;
      }
      .brief {
        padding: 10px;
        font-size: medium;
        color: black;
        padding-bottom: 0;
        text-align: justify;
      }
      .brief p {
        margin: 0;
      }
      .interns {
        padding: 10px;
      }
      .label2 {
        font-size: x-large;
        color: rgb(66, 66, 66);
        margin-bottom: 15px;
        font-weight: bold;
      }
      .inttop {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .inttop p {
        margin: 0;
        margin-bottom: 5px;
      }
      .coding {
          display: block;
      }
      .platforms{
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content:baseline;
          flex-wrap: wrap;
      }
      .platform {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: small;
        background: rgba(255, 255, 255, 0.879);
        color: rgb(33, 33, 33);
        padding: 1px 4px;
        border-radius: 5mm;
        text-align: center;
        margin-right: 5px;
        font-weight: bold;
        margin: 3px;
      }
      .platname {
        display: flex;
        align-items: center;
      }
      .platform p {
        margin: 5px;
      }
      .desc {
        font-size: small;
        margin: 0;
        text-align: justify;
      }
      .notdesc {
        margin: 0;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
      }
      .notdesc a{
          font-size: medium;
          text-decoration: none;
          margin: 0;
          color: dodgerblue;
          margin-left: 3px;
      }
      .notdesc a span{
          font-size: medium;
      }
      .line {
        width: 590px;
        padding: 10px;
        padding-top: 0;
        padding-bottom: 0;
        height: 1px;
        background: black;
        border-radius: 1mm;
      }
      .achievements {
        padding: 10px;
      }
      .achievements p {
        margin: 0;
      }
      .achievements span {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .Extras {
        padding: 10px;
      }
      .Extras p {
        margin: 0;
      }
      .codelink{
          display: flex;
          align-items: center;
      }
      .codelink a{
          text-decoration: none;
          color: rgb(54, 54, 54);
      }
      .codelink a span{
          font-size: small;
          margin-left: 3px;
      }
      .education{
          padding: 10px;
      }
      .edupart p{
          margin: 0;
          font-size: medium;
      }
      .edurow1{
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      .edurow2{
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      .socialmedia{
          display: flex;
          align-items: center;
          padding: 2px 0;
      }
      .socialmedia a{
          text-decoration: none;
          color: white;
          background:rgb(0, 72, 145);
          padding: 2px 6px;
          border-radius: 4mm;
      }
      .socialmedia a span{
          font-size: small;
          margin-left: 3px;
      }
      #print{
          align-self: center;
          background: rgb(212, 234, 255);
          color: darkblue;
          font-family: poppins;
          font-size: x-large;
          padding: 3px 25px;
          border: none;
          border-radius: 10mm;
          outline: none;
          cursor: pointer;
          margin-top: 10px;
          margin: auto;
          display: block;
        }
        #print:hover{
            background: rgb(199, 228, 255);
        }
        .inttop p a{
          text-decoration: none;
          color: dodgerblue;
        }
        .inttop p a span{
          font-size: medium;
        }
        .rollnumber{
          position: absolute;
          left: 20px;
          bottom: 5px;
          color: rgba(255, 255, 255, 0.79);
        }
        @media print{
          .pagebreak { page-break-before: always; }
            #print{
                visibility: hidden;
                display: none;
            }
        }
    </style>
  </head>
  <body>
    <div class="main-container">
      <div class="rollnumber">
        <%= data.resumeId %>
      </div>
      <div class="side1">
        <div class="name"><%= data.personalInfo.firstName%> <%= data.personalInfo.lastName%></div>
        <div class="contact">
          <div class="label">Contact</div>
          <div class="contactDetails">
            <span class="details">
              <p class="high">Address</p>
              <p class="low"><%= data.personalInfo.city%> <%= data.personalInfo.country%> <%= data.personalInfo.pinCode%></p>
            </span>
            <span>
              <p class="high">Phone</p>
              <p class="low"><%= data.personalInfo.phoneNumber%></p>
            </span>
            <span>
              <p class="high">Email</p>
              <p class="low"><%= data.personalInfo.emailId%></p>
            </span>
            <% for(var i=0;i<data.personalInfo.socials.length;i++){ %>
            <span class="socialmedia">
              <a href="<%=data.personalInfo.socials[i][1]%>" target="_blank"><%=data.personalInfo.socials[i][0]%><span class="material-icons-outlined">
                open_in_new
                </span></a>
            </span>
            <% }%>
          </div>
        </div>
        <% if(data.personalSkills.length>0){%>
        <div class="peskills">
          <div class="label" style="margin-bottom: 5px;">Personal Skills</div>
          <% for(var i=0;i<data.personalSkills.length;i++){ %>
          <div class="set">
            <p><%=data.personalSkills[i][0] %></p>
            <p class="rate">
                <% for(j=0;j<Number(data.personalSkills[i][1]);j++){ %>
              <span class="material-icons-round"> star </span>
              <%}%>
              <% for(j=0;j<5-Number(data.personalSkills[i][1]);j++){ %>
                <span class="material-icons-round"> star_border </span>
                <%}%>
            </p>
          </div>
          <%}%>
        </div>
        <%}%>
        <% if(data.professionalSkills.length>0){%>
        <div class="prskills">
          <div class="label" style="margin-bottom: 5px; margin-top: 5px;">
            Professional Skills
          </div>
          <% for(var i=0;i<data.professionalSkills.length;i++){ %>
            <div class="set">
              <p><%=data.professionalSkills[i][0] %></p>
              <p class="rate">
                  <% for(j=0;j<Number(data.professionalSkills[i][1]);j++){ %>
                <span class="material-icons-round"> star </span>
                <%}%>
                <% for(j=0;j<5-Number(data.professionalSkills[i][1]);j++){ %>
                  <span class="material-icons-round"> star_border </span>
                  <%}%>
              </p>
            </div>
            <%}%>
        </div>
        <%}%>
        <% if(data.codingProfilesInfo.codeChefURL || data.codingProfilesInfo.codeForcesURL || data.codingProfilesInfo.hackerRankURL || data.codingProfilesInfo.geeksForGeeksURL || data.codingProfilesInfo.InterviewBitURL || data.codingProfilesInfo.leetCodeURL || data.codingProfilesInfo.spojURL){%>
            <div class="coding">
              <div class="label" style="margin-top: 5px;">Coding Profiles</div>
              <div class="platforms">
              <% if(data.codingProfilesInfo.codeChefURL){ %>
              <div class="platform">
                <p class="codelink"><a href="<%=data.codingProfilesInfo.codeChefURL%>" target="_blank">CodeChef - <%=data.codingProfilesInfo.codeChefRating%>(Rating)<span class="material-icons-outlined">
                    open_in_new
                    </span></a></p>
              </div>
            <%}%>
            <% if(data.codingProfilesInfo.hackerRankURL){ %>
              <div class="platform">
                <p class="codelink"><a href="<%=data.codingProfilesInfo.hackerRankURL%>" target="_blank">Hackerrank - <%=data.codingProfilesInfo.hackerRankBadges%>(Badges)<span class="material-icons-outlined">
                    open_in_new
                    </span></a></p>
              </div>
              <%}%>
            <% if(data.codingProfilesInfo.codeForcesURL){ %>
              <div class="platform">
                <p class="codelink"><a href="<%=data.codingProfilesInfo.codeForcesURL%>" target="_blank">Codeforces - <%=data.codingProfilesInfo.codeForcesRating%>(Rating) <span class="material-icons-outlined">
                    open_in_new
                    </span></a></p>
              </div>
              <%}%>
            <% if(data.codingProfilesInfo.geeksForGeeksURL){ %>
              <div class="platform">
                <p class="codelink"><a href="<%=data.codingProfilesInfo.geeksForGeeksURL%>" target="_blank">GeeksforGeeks - <%=data.codingProfilesInfo.geeksForGeeksScore%>(Score) <span class="material-icons-outlined">
                    open_in_new
                    </span></a></p>
              </div>
              <%}%>
              <% if(data.codingProfilesInfo.interViewBitURL){ %>
              <div class="platform">
                <p class="codelink"><a href="<%=data.codingProfilesInfo.interViewBitURL%>" target="_blank">InterviewBit - <%=data.codingProfilesInfo.interViewBitScore%>(Score)<span class="material-icons-outlined">
                    open_in_new
                    </span></a></p>
              </div>
              <%}%>
              <% if(data.codingProfilesInfo.leetCodeURL){ %>
              <div class="platform">
                <p class="codelink"><a href="<%=data.codingProfilesInfo.leetCodeURL%>" target="_blank">LeetCode - <%=data.codingProfilesInfo.leetCodeProblems%>(Problems)<span class="material-icons-outlined">
                    open_in_new
                    </span></a></p>
              </div>
              <%}%>
              <% if(data.codingProfilesInfo.spojURL){ %>
              <div class="platform">
                <p class="codelink"><a href="<%=data.codingProfilesInfo.spojURL%>" target="_blank">Spoj - <%=data.codingProfilesInfo.spojProblems%>(Problems) <span class="material-icons-outlined">
                    open_in_new
                    </span></a></p>
              </div>
              <%}%>
            </div>
            </div>
            <%}%>
      </div>
      <div class="side2">
        <% if(data.brief){ %>
        <div class="brief">
          <p>
            <%= data.brief%>
          </p>
        </div>
        <div class="line"></div>
        <%}%>
        <div class="education">
            <div class="label2">Education</div>
            <div class="edupart">
                <p class="edurow1"><strong><%= data.educationalInfo.collegeName%></strong> <span>
                    <%= data.educationalInfo.collegeLocation%>
                </span></p>
                <p class="edurow2" style="font-size: small;">
                    <%= data.educationalInfo.collegeDesc%>: <%= data.educationalInfo.collegeScore%> (<%= data.educationalInfo.collegeScoreType %>) <span><%= data.educationalInfo.collegeStartDate%> to <%= data.educationalInfo.collegePassingDate%></span>
                </p>
            </div>
            <div class="edupart" style="margin: 15px 0px;">
                <p class="edurow1"><strong><%= data.educationalInfo.interName%></strong> <span>
                    <%= data.educationalInfo.interLocation%>
                </span></p>
                <p class="edurow2" style="font-size: small;">
                    <%= data.educationalInfo.interDesc%>: <%= data.educationalInfo.interScore%> (<%= data.educationalInfo.interScoreType %>) <span><%= data.educationalInfo.interStartDate%> to <%= data.educationalInfo.interPassingDate%></span>
                </p>
            </div>
            <div class="edupart">
                <p class="edurow1"><strong><%= data.educationalInfo.schoolName%></strong> <span>
                    <%= data.educationalInfo.schoolLocation%>
                </span></p>
                <p class="edurow2" style="font-size: small;">
                    <%= data.educationalInfo.schoolDesc%>: <%= data.educationalInfo.schoolScore%> (<%= data.educationalInfo.schoolScoreType %>) <span><%= data.educationalInfo.schoolPassingDate%></span>
                </p>
            </div>
        </div>
        <div class="line"></div>
        <% if(data.internshipInfo.internshipName.length>0){%>
        <div class="interns">
          <div class="label2">Internships</div>
          <% for(var i=0;i<data.internshipInfo.internshipName.length-1;i++){ %>
          <div class="internship" style="margin-bottom: 20px">
            <div class="inttop">
              <p><strong><%= data.internshipInfo.internshipName[i]%></strong>[<%= data.internshipInfo.internshipCompanyName[i]%>] <a href="<%= data.internshipInfo.internshipCertificate[i]%>" target="_blank"><span class="material-icons-outlined">
                open_in_new
                </span></a></p>
              <p><%= data.internshipInfo.internshipStartDate[i]%> to <%= data.internshipInfo.internshipEndDate[i]%></p>
            </div>
            <p class="desc">
                <%= data.internshipInfo.internshipDesc[i]%>
            </p>
          </div>
          <% }%>
          <div class="internship">
            <div class="inttop">
                <% var n=data.internshipInfo.internshipName.length %>
              <p><strong><%= data.internshipInfo.internshipName[n-1]%></strong>[<%= data.internshipInfo.internshipCompanyName[n-1]%>] <a href="<%= data.internshipInfo.internshipCertificate[n-1]%>" target="_blank"><span class="material-icons-outlined">
                open_in_new
                </span></a></p>
              <p><%= data.internshipInfo.internshipStartDate[n-1]%> to <%= data.internshipInfo.internshipEndDate[n-1]%></p>
            </div>
            <p class="desc">
                <%= data.internshipInfo.internshipDesc[n-1]%>
            </p>
          </div>
        </div>
        <div class="line"></div>
        <%}%>
        <% if(data.projects.length>0){ %>
        <div class="interns">
          <div class="label2">Projects</div>
          <% for(var i=0;i<data.projects.length-1;i++){ %>
          <div class="internship" style="margin-bottom: 20px">
            <p class="notdesc">
              <strong><%= data.projects[i][0]%></strong><a href="<%= data.projects[i][1]%>"><span class="material-icons-outlined">
                open_in_new
                </span></a>
            </p>
            <p class="desc">
                <%= data.projects[i][2]%>
            </p>
          </div>
          <%}%>
          <% var n=data.projects.length %>
          <div class="internship">
            <p class="notdesc">
              <strong><%= data.projects[n-1][0]%></strong><a href="<%= data.projects[n-1][1]%>"><span class="material-icons-outlined">
                open_in_new
                </span></a>
            </p>
            <p class="desc">
                <%= data.projects[n-1][2]%>
            </p>
          </div>
        </div>
        <div class="line"></div>
        <%}%>
        <% if(data.achievements.length>0){ %>
        <div class="achievements">
          <div class="label2">Achievements</div>
          <% for(var i=0;i<data.achievements.length;i++){ %>
          <span>
            <p style="max-width: 500px;"><%= data.achievements[i][0]%></p>
            <p><%= data.achievements[i][1]%></p>
          </span>
          <%}%>
        </div>
        <div class="line"></div>
        <%}%>
        <% if(data.extraCurricular.length>0){ %>
        <div class="Extras">
          <div class="label2">Extracurricular Activities</div>
          <% for(var i=0;i<data.extraCurricular.length;i++){ %>
          <p><%= data.extraCurricular[i] %></p>
          <%}%>
        </div>
        <%}%>
      </div>
    </div>
    <div class="pagebreak"> </div>
    <button type="button" id="print" onclick="window.print()">Print</button>
  </body>
</html>
